In [48]:
# chavez & coombs 
# cognos_data_management_1S(v3).ipynb
# 2020-08-26
# this script makes cognos-output data compatible with chavez-created analytic processes

Steps:
1. Download the deltek data as an Excel file
2. Save 'AP2 Regular & OT Hours for Adv by CCC_#505ap.xlsx' as a CSV file
3. Run the code below

In [49]:
# to determine conda version or conda and python versions, from a cmd window at the ">" prompt:
# > conda -V
#   conda 4.2.9
# > python --version
#   Python 3.5.2 :: Anaconda 4.2.0 (64-bit)

In [50]:
# import modules
import pandas
import os
import sys
import gc
import datetime
import glob

In [51]:
# current working directory
print(os.getcwd())

\\ain2\dfsroot\userdata48\willitc0\Data

In [52]:
# list directories and files
os.listdir()

['$RECYCLE.BIN',
 '.ipynb_checkpoints',
 '.Rhistory',
 'AP2 Regular & OT Hours for Adv by CCC_#505ap-modified.csv',
 'Cleaned',
 'cognos_1s_management(v1).ipynb',
 'cognos_data_management(v1).ipynb',
 'cognos_data_management(v1.1).ipynb',
 'cognos_data_management(v1.2).ipynb',
 'cognos_data_management(v1.3).ipynb',
 'cognos_data_management(v2).ipynb',
 'cognos_data_management(v2.1).ipynb',
 'cognos_data_management(v3).ipynb',
 'cognos_data_management_13976(v3).ipynb',
 'cognos_data_management_1S(v3).ipynb',
 'Custom Office Templates',
 'CV-William T. Coombs (8 April 2018).pdf',
 'desktop.ini',
 'IE',
 'import_this_data-modified.csv',
 'logoff.txt',
 'logon.txt',
 'movehomelog.txt',
 'My Music',
 'My Pictures',
 'My Videos',
 'picnicapp (14 June 2018).pdf',
 'prelogon.txt',
 'quiz_data.ipynb',
 'R',
 'RECYCLER',
 'Redacted',
 'RegSandRV2ExceptionLog.txt',
 'RegSandRV2Log.txt',
 'Remote Assistance Logs',
 'suggestions-wtc.docx',
 'suggestions-wtc.pdf',
 'Untitled Folder',
 'vitality2-1-wtc.docx']

In [58]:
# query files in a specific directory
# print(glob.glob("/home/adam/*.txt"))
print(glob.glob("U:\*.*"))

['U:\\$PrinterList$.bin', 'U:\\AP2 Regular & OT Hours for Adv by CCC_#505ap.xlsx', 'U:\\Scrap.shs']

"read_csv() vs read_excel() in pandas: When to use which and why" by Ashwin A. Vardhan

Have you ever wondered if that excel file that you have, can be made to read faster instead of sitting idle for 10 minutes while your code scans through it? I’ll try to answer it here with a personal experience of mine.

So, I was performing some operations on an excel file using pandas, whose dimensions were 509579 x 240, and it had a size of 295 MB. However, reading that file took about 528 seconds (average over 10 iterations), whereas, on converting it to csv and reading it (using pandas) took just 13 seconds (again, average over 10 iterations), which is an improvement of about 40 times. As you can observe, the file was too huge, and read_excel is just slower in performance. This has been mentioned on stackoverflow too.

So, when will you actually need to convert an excel file to csv before processing it? Usually, if your excel file is small (~100,000 rows, ~50 columns), there won’t be much of a performance issue, unless, you need to run that process very frequently, because, that small delay may get compunded and bite you! But, if your excel file is massive, and you need to process it frequently (or not), it’s better to first convert the excel into a csv, and voila! see the magic happen.

In [59]:
# read data
# df = pd.read_csv (r'Path where the CSV file is stored\File name.csv')
data = pandas.read_excel (r'U:\AP2 Regular & OT Hours for Adv by CCC_#505ap.xlsx')

Pandas has the following data types:
    object
    int64
    float64
    bool
    datetime64
    timedelta[ns]
    category

In [6]:
# check metadata
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595850 entries, 0 to 595849
Data columns (total 23 columns):
User                 595850 non-null object
User Id              595850 non-null object
Work Date            595850 non-null datetime64[ns]
Month                595850 non-null datetime64[ns]
Description          595850 non-null object
REF ID               595850 non-null object
CLIN                 595850 non-null object
WBS                  9573 non-null object
TASK                 308391 non-null object
TPID                 595850 non-null object
ProjNo               595850 non-null object
WB2                  595832 non-null object
Project Id           595850 non-null object
Pay Type             595850 non-null object
Corporation          595850 non-null object
Company Name         595850 non-null object
Approver             595850 non-null object
Status               595850 non-null object
Straight             595850 non-null float64
Overtime             595850 non-null float64
Total                595850 non-null float64
Date Time Entered    595850 non-null datetime64[ns]
Org Id               595850 non-null object
dtypes: datetime64[ns](3), float64(3), object(17)
memory usage: 104.6+ MB

In [7]:
# trim data
df = pandas.DataFrame(data, columns= ['User','Work Date', 'Description', 'CLIN', 'WB2', 'TPID', 'Straight', 'Overtime', 'Total'])
df.head(5)

,User,Work Date,Description,CLIN,WB2,TPID,Straight,Overtime,Total
0,"THOMPSON, MORRIS R",2017-07-21,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,0.0,0.0,0.0
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.0,0.0,8.0
2,"THOMPSON, MORRIS R",2017-07-31,Asset Management,7400,514,1SAP2.C.7400.514,8.0,0.0,8.0
3,"THOMPSON, MORRIS R",2017-08-10,Asset Management,8400,514,1SAP2.C.8400.514,8.0,0.0,8.0
4,"THOMPSON, MORRIS R",2017-08-28,Asset Management,8400,514,1SAP2.C.8400.514,8.0,0.0,8.0

In [8]:
df = df.rename(columns={'WB2':'WBS'})
df.head(5)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total
0,"THOMPSON, MORRIS R",2017-07-21,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,0.0,0.0,0.0
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.0,0.0,8.0
2,"THOMPSON, MORRIS R",2017-07-31,Asset Management,7400,514,1SAP2.C.7400.514,8.0,0.0,8.0
3,"THOMPSON, MORRIS R",2017-08-10,Asset Management,8400,514,1SAP2.C.8400.514,8.0,0.0,8.0
4,"THOMPSON, MORRIS R",2017-08-28,Asset Management,8400,514,1SAP2.C.8400.514,8.0,0.0,8.0

In [9]:
# check metadata
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595850 entries, 0 to 595849
Data columns (total 9 columns):
User           595850 non-null object
Work Date      595850 non-null datetime64[ns]
Description    595850 non-null object
CLIN           595850 non-null object
WBS            595832 non-null object
TPID           595850 non-null object
Straight       595850 non-null float64
Overtime       595850 non-null float64
Total          595850 non-null float64
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 40.9+ MB

In [10]:
# check dataframe dimensions (rows x columns)
df.shape

(595850, 9)

In [11]:
# delete original dataframe to free up memory
del[data]

In [12]:
gc.collect()

596059

In [13]:
# format float64 datatype
# round floating numbers to two decimal places in python pandas 
pandas.options.display.float_format = '{:.2f}'.format

In [14]:
# check data types
df.dtypes

User                   object
Work Date      datetime64[ns]
Description            object
CLIN                   object
WBS                    object
TPID                   object
Straight              float64
Overtime              float64
Total                 float64
dtype: object

In [15]:
df.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total
0,"THOMPSON, MORRIS R",2017-07-21,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,0.00,0.00,0.00
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00
2,"THOMPSON, MORRIS R",2017-07-31,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00

In [16]:
df[df['WBS'].isnull()]

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total
60440,"WASSON, VANCE D",2017-04-17,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,0.00,0.00,0.00
187713,"MCHUGH, ANTHONY T",2017-07-19,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,0.00,0.00,0.00
188218,"MCHUGH, ANTHONY T",2017-05-11,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,0.00,0.00,0.00
392182,"TROVINGER, TONY L",2017-03-30,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,1.00,0.00,1.00
392208,"TROVINGER, TONY L",2017-05-30,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,0.00,0.00,0.00
392235,"TROVINGER, TONY L",2017-08-01,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,0.00,0.00,0.00
392237,"TROVINGER, TONY L",2017-08-02,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,2.00,0.00,2.00
392482,"TROVINGER, TONY L",2017-07-20,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,2.00,0.00,2.00
392701,"TROVINGER, TONY L",2017-03-29,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,2.00,0.00,2.00
392728,"TROVINGER, TONY L",2017-05-23,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,1.00,0.00,1.00
392758,"TROVINGER, TONY L",2017-08-01,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,1.00,0.00,1.00
392760,"TROVINGER, TONY L",2017-08-02,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,0.00,0.00,0.00
393018,"TROVINGER, TONY L",2017-07-19,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,1.00,0.00,1.00
559473,"Beylor, Larry",2017-05-15,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,0.00,0.00,0.00
559715,"Beylor, Larry",2017-05-16,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,0.00,0.00,0.00
560518,"Beylor, Larry",2017-04-03,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,0.00,0.00,0.00
560524,"Beylor, Larry",2017-04-19,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,0.00,0.00,0.00
560784,"Beylor, Larry",2017-08-02,CHG Code Not Available,7420,NaN,1SAP2.P.7420.000.NOCHGXX,0.00,0.00,0.00

In [17]:
df.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total
0,"THOMPSON, MORRIS R",2017-07-21,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,0.00,0.00,0.00
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00
2,"THOMPSON, MORRIS R",2017-07-31,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00

In [18]:
# add tpid character count column
df['tpid_length'] = df['TPID'].str.len()
df['tpid_length'].head(3)

0    24
1    16
2    16
Name: tpid_length, dtype: int64

In [21]:
# check metadata
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595850 entries, 0 to 595849
Data columns (total 10 columns):
User           595850 non-null object
Work Date      595850 non-null datetime64[ns]
Description    595850 non-null object
CLIN           595850 non-null object
WBS            595832 non-null object
TPID           595850 non-null object
Straight       595850 non-null float64
Overtime       595850 non-null float64
Total          595850 non-null float64
tpid_length    595850 non-null int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 45.5+ MB

In [22]:
df['tpid_length'].value_counts()

24    298818
16    287456
28      9573
17         3
Name: tpid_length, dtype: int64

In [23]:
df[df['tpid_length'] == 17]

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length
544186,"Wali, Sam",2019-02-27,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17
544187,"Wali, Sam",2019-03-01,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17
544188,"Wali, Sam",2019-02-28,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17

In [24]:
df16 = df[df['tpid_length'] == 16]
df17 = df[df['tpid_length'] == 17]
df24 = df[df['tpid_length'] == 24]
df28 = df[df['tpid_length'] == 28]
del[df]
gc.collect()

175

In [25]:
df16

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,16
2,"THOMPSON, MORRIS R",2017-07-31,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,16
3,"THOMPSON, MORRIS R",2017-08-10,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
4,"THOMPSON, MORRIS R",2017-08-28,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
5,"THOMPSON, MORRIS R",2017-09-07,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
6,"THOMPSON, MORRIS R",2017-09-20,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
7,"THOMPSON, MORRIS R",2017-09-21,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
8,"THOMPSON, MORRIS R",2017-09-25,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
9,"THOMPSON, MORRIS R",2017-10-06,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
10,"THOMPSON, MORRIS R",2017-10-27,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
11,"THOMPSON, MORRIS R",2017-10-30,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
12,"THOMPSON, MORRIS R",2017-11-02,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
13,"THOMPSON, MORRIS R",2017-11-07,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
14,"THOMPSON, MORRIS R",2017-11-08,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
15,"THOMPSON, MORRIS R",2017-11-17,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
16,"THOMPSON, MORRIS R",2017-11-20,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
17,"THOMPSON, MORRIS R",2017-11-28,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
18,"THOMPSON, MORRIS R",2017-11-29,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
19,"THOMPSON, MORRIS R",2017-12-08,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
20,"THOMPSON, MORRIS R",2018-01-16,Asset Management,8400,514,1SAP2.C.8400.514,4.00,0.00,4.00,16
21,"THOMPSON, MORRIS R",2018-01-30,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
22,"THOMPSON, MORRIS R",2018-02-12,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
23,"THOMPSON, MORRIS R",2018-02-20,Asset Management,8400,514,1SAP2.C.8400.514,-8.00,0.00,-8.00,16
24,"THOMPSON, MORRIS R",2018-02-23,Asset Management,8400,514,1SAP2.C.8400.514,-8.00,0.00,-8.00,16
25,"THOMPSON, MORRIS R",2018-02-23,Asset Mgmt (Local),8440,514,1SAP2.C.8440.514,8.00,0.00,8.00,16
26,"THOMPSON, MORRIS R",2018-03-05,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
27,"THOMPSON, MORRIS R",2018-03-06,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16
28,"THOMPSON, MORRIS R",2018-03-07,Asset Mgmt (Local),8440,514,1SAP2.C.8440.514,8.00,0.00,8.00,16
29,"THOMPSON, MORRIS R",2018-03-16,Asset Mgmt (Local),8440,514,1SAP2.C.8440.514,8.00,0.00,8.00,16
30,"THOMPSON, MORRIS R",2018-03-23,Asset Mgmt (Local),8440,514,1SAP2.C.8440.514,7.50,0.00,7.50,16
...,...,...,...,...,...,...,...,...,...,...
595820,"Simmons, Kenneth",2017-05-02,D Mission Support,7300,683,1SAP2.C.7300.683,9.00,0.00,9.00,16
595821,"Simmons, Kenneth",2017-05-09,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00,16
595822,"Simmons, Kenneth",2017-05-18,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00,16
595823,"Simmons, Kenneth",2017-06-27,D Mission Support,7300,683,1SAP2.C.7300.683,8.50,0.00,8.50,16
595824,"Simmons, Kenneth",2017-06-28,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00,16
595825,"Simmons, Kenneth",2017-07-03,D Mission Support,7300,683,1SAP2.C.7300.683,5.50,0.00,5.50,16
595826,"Simmons, Kenneth",2017-07-05,D Mission Support,7300,683,1SAP2.C.7300.683,12.00,0.00,12.00,16
595827,"Simmons, Kenneth",2017-07-08,D Mission Support,7300,683,1SAP2.C.7300.683,4.50,0.00,4.50,16
595828,"Simmons, Kenneth",2017-03-29,D Mission Support,7300,683,1SAP2.C.7300.683,7.50,0.00,7.50,16
595829,"Simmons, Kenneth",2017-04-06,D Mission Support,7300,683,1SAP2.C.7300.683,7.00,0.00,7.00,16
595830,"Simmons, Kenneth",2017-04-19,D Mission Support,7300,683,1SAP2.C.7300.683,8.50,0.00,8.50,16
595831,"Simmons, Kenneth",2017-04-24,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00,16
595832,"Simmons, Kenneth",2017-04-26,D Mission Support,7300,683,1SAP2.C.7300.683,9.50,0.00,9.50,16
595833,"Simmons, Kenneth",2017-05-05,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00,16
595834,"Simmons, Kenneth",2017-05-24,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00,16
595835,"Simmons, Kenneth",2017-05-31,D Mission Support,7300,683,1SAP2.C.7300.683,8.50,0.00,8.50,16
595836,"Simmons, Kenneth",2017-06-06,D Mission Support,7300,683,1SAP2.C.7300.683,8.50,0.00,8.50,16
595837,"Simmons, Kenneth",2017-06-18,D Mission Support,7300,683,1SAP2.C.7300.683,13.00,0.00,13.00,16
595838,"Simmons, Kenneth",2017-06-21,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00,16
595839,"Simmons, Kenneth",2017-07-10,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00,16
595840,"Simmons, Kenneth",2017-07-13,D Mission Support,7300,683,1SAP2.C.7300.683,3.50,0.00,3.50,16
595841,"Simmons, Kenneth",2017-03-20,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00,16
595842,"Simmons, Kenneth",2017-03-23,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00,16
595843,"Simmons, Kenneth",2017-03-27,D Mission Support,7300,683,1SAP2.C.7300.683,7.00,0.00,7.00,16
595844,"Simmons, Kenneth",2017-04-17,D Mission Support,7300,683,1SAP2.C.7300.683,6.00,0.00,6.00,16
595845,"Simmons, Kenneth",2017-05-07,D Mission Support,7300,683,1SAP2.C.7300.683,14.00,0.00,14.00,16
595846,"Simmons, Kenneth",2017-05-10,D Mission Support,7300,683,1SAP2.C.7300.683,11.50,0.00,11.50,16
595847,"Simmons, Kenneth",2017-06-13,D Mission Support,7300,683,1SAP2.C.7300.683,8.50,0.00,8.50,16
595848,"Simmons, Kenneth",2017-07-06,D Mission Support,7300,683,1SAP2.C.7300.683,12.00,0.00,12.00,16
595849,"Simmons, Kenneth",2017-07-19,D Mission Support,7300,683,1SAP2.C.7300.683,5.50,0.00,5.50,16

In [26]:
df17

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length
544186,"Wali, Sam",2019-02-27,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17
544187,"Wali, Sam",2019-03-01,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17
544188,"Wali, Sam",2019-02-28,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17

In [27]:
df24

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length
0,"THOMPSON, MORRIS R",2017-07-21,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,0.00,0.00,0.00,24
56,"THOMPSON, MORRIS R",2017-07-11,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,8.00,0.00,8.00,24
57,"THOMPSON, MORRIS R",2017-07-18,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,8.00,0.00,8.00,24
127,"THOMPSON, MORRIS R",2017-07-17,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,8.00,0.00,8.00,24
129,"THOMPSON, MORRIS R",2017-07-20,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,0.00,0.00,0.00,24
190,"THOMPSON, MORRIS R",2017-07-13,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,8.00,0.00,8.00,24
256,"THOMPSON, MORRIS R",2017-07-12,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,8.00,0.00,8.00,24
397,"THOMPSON, MORRIS R",2017-07-14,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,8.00,0.00,8.00,24
545,"BROWN, AUSTIN",2018-05-14,1SAP2.F.8330.000.0DCSPRS,8330,000,1SAP2.F.8330.000.0DCSPRS,3.00,0.00,3.00,24
546,"BROWN, AUSTIN",2018-05-23,1SAP2.F.8330.000.0DCSPRS,8330,000,1SAP2.F.8330.000.0DCSPRS,8.00,0.00,8.00,24
547,"BROWN, AUSTIN",2018-05-23,MGMADM,8330,000,1SAP2.F.8330.000.MGTMADM,8.00,0.00,8.00,24
548,"BROWN, AUSTIN",2018-05-30,MGMADM,8330,000,1SAP2.F.8330.000.MGTMADM,8.00,0.00,8.00,24
549,"BROWN, AUSTIN",2018-06-12,MGMADM,8330,000,1SAP2.F.8330.000.MGTMADM,11.00,0.00,11.00,24
550,"BROWN, AUSTIN",2018-06-14,1SAP2.F.8330.000.0DCSPRS,8330,000,1SAP2.F.8330.000.0DCSPRS,8.00,0.00,8.00,24
551,"BROWN, AUSTIN",2018-06-18,1SAP2.F.8330.000.0DCSPRS,8330,000,1SAP2.F.8330.000.0DCSPRS,0.00,0.00,0.00,24
552,"BROWN, AUSTIN",2018-06-21,1SAP2.F.8330.000.0DCSPRS,8330,000,1SAP2.F.8330.000.0DCSPRS,0.00,0.00,0.00,24
553,"BROWN, AUSTIN",2018-06-28,1SAP2.F.8330.000.0DCSPRS,8330,000,1SAP2.F.8330.000.0DCSPRS,0.00,0.00,0.00,24
554,"BROWN, AUSTIN",2018-07-03,1SAP2.F.8330.000.0DCSPRS,8330,000,1SAP2.F.8330.000.0DCSPRS,-8.00,0.00,-8.00,24
555,"BROWN, AUSTIN",2018-07-06,1SAP2.F.8330.000.0DCSPRS,8330,000,1SAP2.F.8330.000.0DCSPRS,-6.00,0.00,-6.00,24
556,"BROWN, AUSTIN",2018-07-11,MGMADM,8330,000,1SAP2.F.8330.000.MGTMADM,6.00,0.00,6.00,24
557,"BROWN, AUSTIN",2018-07-13,1SAP2.F.8330.000.0DCSPRS,8330,000,1SAP2.F.8330.000.0DCSPRS,8.00,0.00,8.00,24
558,"BROWN, AUSTIN",2018-07-18,MGMADM,8330,000,1SAP2.F.8330.000.MGTMADM,5.00,0.00,5.00,24
559,"BROWN, AUSTIN",2018-07-24,1SAP2.F.8330.000.0DCSPRS,8330,000,1SAP2.F.8330.000.0DCSPRS,6.50,0.00,6.50,24
560,"BROWN, AUSTIN",2018-07-26,MGMADM,8330,000,1SAP2.F.8330.000.MGTMADM,6.50,0.00,6.50,24
561,"BROWN, AUSTIN",2018-07-27,1SAP2.F.8330.000.0DCSPRS,8330,000,1SAP2.F.8330.000.0DCSPRS,8.00,0.00,8.00,24
562,"BROWN, AUSTIN",2018-08-16,MGMADM,9330,000,1SAP2.F.9330.000.MGTMADM,9.00,0.00,9.00,24
563,"BROWN, AUSTIN",2018-08-28,MGMADM,9330,000,1SAP2.F.9330.000.MGTMADM,0.00,0.00,0.00,24
564,"BROWN, AUSTIN",2018-08-31,MGMADM,9330,000,1SAP2.F.9330.000.MGTMADM,0.00,0.00,0.00,24
565,"BROWN, AUSTIN",2018-10-05,MGMADM,9330,000,1SAP2.F.9330.000.MGTMADM,0.00,0.00,0.00,24
566,"BROWN, AUSTIN",2018-10-10,MGMADM,9330,000,1SAP2.F.9330.000.MGTMADM,0.00,0.00,0.00,24
...,...,...,...,...,...,...,...,...,...,...
595738,"Byers, Susan",2017-05-03,BITT SI,7401,403,1SAP2.C.7401.403.3657533,8.50,0.00,8.50,24
595739,"Byers, Susan",2017-05-04,BITT SI,7401,403,1SAP2.C.7401.403.3657533,9.50,0.00,9.50,24
595740,"Byers, Susan",2017-05-09,BITT SI,7401,403,1SAP2.C.7401.403.3657533,9.00,0.00,9.00,24
595741,"Byers, Susan",2017-05-10,BITT SI,7401,403,1SAP2.C.7401.403.3657533,9.50,0.00,9.50,24
595742,"Byers, Susan",2017-05-11,BITT SI,7401,403,1SAP2.C.7401.403.3657533,9.00,0.00,9.00,24
595743,"Byers, Susan",2017-05-26,BITT SI,7401,403,1SAP2.C.7401.403.3657533,0.00,0.00,0.00,24
595744,"Byers, Susan",2017-06-21,BITT SI,7401,403,1SAP2.C.7401.403.3657533,8.00,0.00,8.00,24
595745,"Byers, Susan",2017-03-23,BITT SI,7401,403,1SAP2.C.7401.403.3657533,8.00,0.00,8.00,24
595746,"Byers, Susan",2017-03-28,BITT SI,7401,403,1SAP2.C.7401.403.3657533,9.00,0.00,9.00,24
595747,"Byers, Susan",2017-03-31,BITT SI,7401,403,1SAP2.C.7401.403.3657533,5.00,0.00,5.00,24
595748,"Byers, Susan",2017-04-03,BITT SI,7401,403,1SAP2.C.7401.403.3657533,8.50,0.00,8.50,24
595749,"Byers, Susan",2017-04-06,BITT SI,7401,403,1SAP2.C.7401.403.3657533,8.00,0.00,8.00,24
595750,"Byers, Susan",2017-04-11,BITT SI,7401,403,1SAP2.C.7401.403.3657533,9.50,0.00,9.50,24
595751,"Byers, Susan",2017-04-12,BITT SI,7401,403,1SAP2.C.7401.403.3657533,9.50,0.00,9.50,24
595752,"Byers, Susan",2017-05-12,BITT SI,7401,403,1SAP2.C.7401.403.3657533,3.50,0.00,3.50,24
595753,"Byers, Susan",2017-05-17,BITT SI,7401,403,1SAP2.C.7401.403.3657533,9.50,0.00,9.50,24
595754,"Byers, Susan",2017-05-18,BITT SI,7401,403,1SAP2.C.7401.403.3657533,9.00,0.00,9.00,24
595755,"Byers, Susan",2017-05-22,BITT SI,7401,403,1SAP2.C.7401.403.3657533,0.00,0.00,0.00,24
595756,"Byers, Susan",2017-05-25,BITT SI,7401,403,1SAP2.C.7401.403.3657533,0.00,0.00,0.00,24
595757,"Byers, Susan",2017-04-18,BITT SI,7401,403,1SAP2.C.7401.403.3657533,9.50,0.00,9.50,24
595758,"Byers, Susan",2017-05-05,BITT SI,7401,403,1SAP2.C.7401.403.3657533,3.00,0.00,3.00,24
595759,"Byers, Susan",2017-05-15,BITT SI,7401,403,1SAP2.C.7401.403.3657533,9.50,0.00,9.50,24
595760,"Byers, Susan",2017-06-23,BITT SI,7401,403,1SAP2.C.7401.403.3657533,8.00,0.00,8.00,24
595761,"Byers, Susan",2017-03-21,BITT SI,7401,403,1SAP2.C.7401.403.3657533,4.50,0.00,4.50,24
595762,"Byers, Susan",2017-03-24,BITT SI,7401,403,1SAP2.C.7401.403.3657533,9.00,0.00,9.00,24
595763,"Byers, Susan",2017-04-14,BITT SI,7401,403,1SAP2.C.7401.403.3657533,2.50,0.00,2.50,24
595764,"Byers, Susan",2017-05-16,BITT SI,7401,403,1SAP2.C.7401.403.3657533,9.50,0.00,9.50,24
595765,"Byers, Susan",2017-06-20,BITT SI,7401,403,1SAP2.C.7401.403.3657533,8.00,0.00,8.00,24
595766,"Byers, Susan",2017-03-29,BITT SI,7401,403,1SAP2.C.7401.403.3657533,9.00,0.00,9.00,24
595767,"Byers, Susan",2017-04-26,BITT SI,7401,403,1SAP2.C.7401.403.3657533,8.50,0.00,8.50,24

In [28]:
df28

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length
10770,"TIMMONS, CARL A",2017-04-26,Install,7420,INS,1SAP2.P.7420.000.3930667.INS,10.00,0.00,10.00,28
10771,"TIMMONS, CARL A",2017-05-09,Install,7420,INS,1SAP2.P.7420.000.3836553.INS,8.00,0.00,8.00,28
10772,"TIMMONS, CARL A",2017-05-18,Install,7420,INS,1SAP2.P.7420.000.4230571.INS,5.00,0.00,5.00,28
10773,"TIMMONS, CARL A",2017-05-30,Install,7420,INS,1SAP2.P.7420.000.4236799.INS,4.00,0.00,4.00,28
10774,"TIMMONS, CARL A",2017-06-02,Install,7420,INS,1SAP2.P.7420.000.3943423.INS,4.00,0.00,4.00,28
10775,"TIMMONS, CARL A",2017-06-02,Install,7420,INS,1SAP2.P.7420.000.4234224.INS,2.00,0.00,2.00,28
10777,"TIMMONS, CARL A",2017-06-20,Install,7420,INS,1SAP2.P.7420.000.4270639.INS,8.00,0.00,8.00,28
10778,"TIMMONS, CARL A",2017-07-14,Install,7420,INS,1SAP2.P.7420.000.3836565.INS,0.00,8.00,8.00,28
10779,"TIMMONS, CARL A",2017-07-28,Install,7420,INS,1SAP2.P.7420.000.3836592.INS,8.00,0.00,8.00,28
10861,"TIMMONS, CARL A",2017-04-13,Install,7420,INS,1SAP2.P.7420.000.3836531.INS,8.00,0.00,8.00,28
10863,"TIMMONS, CARL A",2017-05-03,1SAP2.P.7420.000.3886270.,7420,INS,1SAP2.P.7420.000.3886270.INS,8.00,0.00,8.00,28
10864,"TIMMONS, CARL A",2017-05-03,Install,7420,INS,1SAP2.P.7420.000.3943423.INS,2.00,0.00,2.00,28
10865,"TIMMONS, CARL A",2017-05-18,Install,7420,INS,1SAP2.P.7420.000.4230582.INS,1.00,0.00,1.00,28
10866,"TIMMONS, CARL A",2017-05-19,Install,7420,INS,1SAP2.P.7420.000.3836565.INS,1.00,0.00,1.00,28
10867,"TIMMONS, CARL A",2017-05-23,Install,7420,INS,1SAP2.P.7420.000.4230523.INS,2.00,0.00,2.00,28
10868,"TIMMONS, CARL A",2017-05-30,Install,7420,INS,1SAP2.P.7420.000.3946893.INS,4.00,0.00,4.00,28
10869,"TIMMONS, CARL A",2017-06-01,Install,7420,INS,1SAP2.P.7420.000.4234224.INS,1.00,0.00,1.00,28
10870,"TIMMONS, CARL A",2017-06-13,Install,7420,INS,1SAP2.P.7420.000.3836570.INS,7.00,0.00,7.00,28
10871,"TIMMONS, CARL A",2017-06-15,Install,7420,INS,1SAP2.P.7420.000.3899386.INS,7.00,0.00,7.00,28
10874,"TIMMONS, CARL A",2017-07-17,1SAP2.P.7420.000.3886270.,7420,INS,1SAP2.P.7420.000.3886270.INS,8.00,0.00,8.00,28
10875,"TIMMONS, CARL A",2017-07-20,1SAP2.P.7420.000.3886270.,7420,INS,1SAP2.P.7420.000.3886270.INS,8.00,0.00,8.00,28
10876,"TIMMONS, CARL A",2017-08-01,Install,7420,INS,1SAP2.P.7420.000.4014592.INS,8.00,0.00,8.00,28
10962,"TIMMONS, CARL A",2017-04-03,Install,7420,INS,1SAP2.P.7420.000.3897825.INS,9.00,0.00,9.00,28
10963,"TIMMONS, CARL A",2017-04-05,Install,7420,INS,1SAP2.P.7420.000.3958998.INS,8.00,0.00,8.00,28
10964,"TIMMONS, CARL A",2017-04-12,Install,7420,INS,1SAP2.P.7420.000.3836531.INS,8.00,0.00,8.00,28
10965,"TIMMONS, CARL A",2017-04-14,Install,7420,INS,1SAP2.P.7420.000.3836531.INS,0.00,0.00,0.00,28
10967,"TIMMONS, CARL A",2017-05-11,Install,7420,INS,1SAP2.P.7420.000.4033685.INS,4.00,0.00,4.00,28
10969,"TIMMONS, CARL A",2017-05-18,Install,7420,INS,1SAP2.P.7420.000.4234224.INS,4.00,0.00,4.00,28
10970,"TIMMONS, CARL A",2017-05-24,Install,7420,INS,1SAP2.P.7420.000.4230523.INS,10.00,0.00,10.00,28
10971,"TIMMONS, CARL A",2017-05-26,Install,7420,INS,1SAP2.P.7420.000.3836565.INS,3.00,0.00,3.00,28
...,...,...,...,...,...,...,...,...,...,...
595483,"Motley, Michael",2017-05-04,DSPM,7420,DPM,1SAP2.P.7420.000.4209514.DPM,0.50,0.00,0.50,28
595484,"Motley, Michael",2017-05-10,DSPM,7420,DPM,1SAP2.P.7420.000.4209514.DPM,1.00,0.00,1.00,28
595485,"Motley, Michael",2017-05-11,DSPM,7420,DPM,1SAP2.P.7420.000.3897287.DPM,0.50,0.00,0.50,28
595486,"Motley, Michael",2017-05-16,DSPM,7420,DPM,1SAP2.P.7420.000.4209514.DPM,0.50,0.00,0.50,28
595487,"Motley, Michael",2017-05-18,DSPM,7420,DPM,1SAP2.P.7420.000.4192994.DPM,0.30,0.00,0.30,28
595493,"Motley, Michael",2017-04-04,DSPM,7420,DPM,1SAP2.P.7420.000.3965816.DPM,0.50,0.00,0.50,28
595494,"Motley, Michael",2017-04-04,DSPM,7420,DPM,1SAP2.P.7420.000.4074003.DPM,0.50,0.00,0.50,28
595497,"Motley, Michael",2017-04-17,DSPM,7420,DPM,1SAP2.P.7420.000.4074003.DPM,1.00,0.00,1.00,28
595499,"Motley, Michael",2017-04-25,DSPM,7420,DPM,1SAP2.P.7420.000.4101063.DPM,0.50,0.00,0.50,28
595500,"Motley, Michael",2017-04-27,DSPM,7420,DPM,1SAP2.P.7420.000.4131520.DPM,1.00,0.00,1.00,28
595501,"Motley, Michael",2017-05-08,DSPM,7420,DPM,1SAP2.P.7420.000.4101063.DPM,0.50,0.00,0.50,28
595502,"Motley, Michael",2017-05-11,DSPM,7420,DPM,1SAP2.P.7420.000.3843353.DPM,1.00,0.00,1.00,28
595503,"Motley, Michael",2017-05-18,DSPM,7420,DPM,1SAP2.P.7420.000.3843353.DPM,0.30,0.00,0.30,28
595504,"Motley, Michael",2017-03-21,DSPM,7420,DPM,1SAP2.P.7420.000.4114925.DPM,0.50,0.00,0.50,28
595507,"Motley, Michael",2017-04-12,DSPM,7420,DPM,1SAP2.P.7420.000.4124441.DPM,0.50,0.00,0.50,28
595510,"Motley, Michael",2017-04-28,DSPM,7420,DPM,1SAP2.P.7420.000.4172460.DPM,0.50,0.00,0.50,28
595512,"Motley, Michael",2017-05-16,DSPM,7420,DPM,1SAP2.P.7420.000.3843353.DPM,1.00,0.00,1.00,28
595513,"Motley, Michael",2017-05-18,DSPM,7420,DPM,1SAP2.P.7420.000.4131520.DPM,0.30,0.00,0.30,28
595515,"Motley, Michael",2017-03-29,DSPM,7420,DPM,1SAP2.P.7420.000.3965816.DPM,1.00,0.00,1.00,28
595516,"Motley, Michael",2017-03-29,DSPM,7420,DPM,1SAP2.P.7420.000.4129143.DPM,1.00,0.00,1.00,28
595519,"Motley, Michael",2017-04-13,DSPM,7420,DPM,1SAP2.P.7420.000.4044894.DPM,0.50,0.00,0.50,28
595522,"Motley, Michael",2017-05-02,DSPM,7420,DPM,1SAP2.P.7420.000.4167563.DPM,1.00,0.00,1.00,28
595523,"Motley, Michael",2017-05-04,DSPM,7420,DPM,1SAP2.P.7420.000.3965816.DPM,1.00,0.00,1.00,28
595525,"Motley, Michael",2017-05-08,DSPM,7420,DPM,1SAP2.P.7420.000.4172460.DPM,0.50,0.00,0.50,28
595527,"Motley, Michael",2017-04-05,DSPM,7420,DPM,1SAP2.P.7420.000.4129143.DPM,1.00,0.00,1.00,28
595529,"Motley, Michael",2017-04-18,DSPM,7420,DPM,1SAP2.P.7420.000.4172460.DPM,0.50,0.00,0.50,28
595532,"Motley, Michael",2017-05-03,DSPM,7420,DPM,1SAP2.P.7420.000.4172460.DPM,1.00,0.00,1.00,28
595533,"Motley, Michael",2017-05-08,DSPM,7420,DPM,1SAP2.P.7420.000.4131520.DPM,0.50,0.00,0.50,28
595534,"Motley, Michael",2017-05-10,DSPM,7420,DPM,1SAP2.P.7420.000.3916488.DPM,0.50,0.00,0.50,28
595535,"Motley, Michael",2017-05-18,DSPM,7420,DPM,1SAP2.P.7420.000.3897287.DPM,0.30,0.00,0.30,28

In [29]:
df17['SR_prefix'] = 'SR-'
df17

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length,SR_prefix
544186,"Wali, Sam",2019-02-27,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17,SR-
544187,"Wali, Sam",2019-03-01,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17,SR-
544188,"Wali, Sam",2019-02-28,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17,SR-

In [30]:
df17['SR_no'] = df17.TPID.str.split(".", expand=True,)[2]
df17

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length,SR_prefix,SR_no
544186,"Wali, Sam",2019-02-27,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17,SR-,3873257
544187,"Wali, Sam",2019-03-01,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17,SR-,3873257
544188,"Wali, Sam",2019-02-28,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17,SR-,3873257

In [31]:
df17['SR'] = df17['SR_prefix'] + df17['SR_no']
df17

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length,SR_prefix,SR_no,SR
544186,"Wali, Sam",2019-02-27,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17,SR-,3873257,SR-3873257
544187,"Wali, Sam",2019-03-01,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17,SR-,3873257,SR-3873257
544188,"Wali, Sam",2019-02-28,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17,SR-,3873257,SR-3873257

In [32]:
df17 = df17.drop('SR_no', 1)
df17 = df17.drop('SR_prefix', 1)
df17

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length,SR
544186,"Wali, Sam",2019-02-27,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17,SR-3873257
544187,"Wali, Sam",2019-03-01,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17,SR-3873257
544188,"Wali, Sam",2019-02-28,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17,SR-3873257

In [33]:
df17['OptYr'] = 'OY9'
df17

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length,SR,OptYr
544186,"Wali, Sam",2019-02-27,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17,SR-3873257,OY9
544187,"Wali, Sam",2019-03-01,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17,SR-3873257,OY9
544188,"Wali, Sam",2019-02-28,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,17,SR-3873257,OY9

In [34]:
# df20 = df20[['User', 'Work Date', 'Description', 'CLIN', 'WBS', 'TPID', 'Straight', 'Overtime', 'Total', 'SR', 'OptYr', 'tpid_length']]
df17 = df17[['User', 'Work Date', 'Description', 'CLIN', 'WBS', 'TPID', 'Straight', 'Overtime', 'Total', 'SR', 'OptYr', 'tpid_length']]
df17

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,SR,OptYr,tpid_length
544186,"Wali, Sam",2019-02-27,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,SR-3873257,OY9,17
544187,"Wali, Sam",2019-03-01,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,SR-3873257,OY9,17
544188,"Wali, Sam",2019-02-28,1s10p.174.3873257,4.38,325,1S10P.174.3873257,0.00,0.00,0.00,SR-3873257,OY9,17

In [35]:
df16.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,16
2,"THOMPSON, MORRIS R",2017-07-31,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,16
3,"THOMPSON, MORRIS R",2017-08-10,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16

In [36]:
df16['SR'] = 'SR-0000000'
df16.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length,SR
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,16,SR-0000000
2,"THOMPSON, MORRIS R",2017-07-31,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,16,SR-0000000
3,"THOMPSON, MORRIS R",2017-08-10,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16,SR-0000000

In [37]:
# get the option year from the first digit of the clin
df16['OptYr_prefix'] = 'OY'
df16.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length,SR,OptYr_prefix
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,16,SR-0000000,OY
2,"THOMPSON, MORRIS R",2017-07-31,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,16,SR-0000000,OY
3,"THOMPSON, MORRIS R",2017-08-10,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16,SR-0000000,OY

In [38]:
# Left = df['Identifier'].str[:5]
df16['OptYr_no'] = df16['CLIN'].str[:1] 
df16.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length,SR,OptYr_prefix,OptYr_no
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,16,SR-0000000,OY,7
2,"THOMPSON, MORRIS R",2017-07-31,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,16,SR-0000000,OY,7
3,"THOMPSON, MORRIS R",2017-08-10,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16,SR-0000000,OY,8

In [39]:
df16['OptYr'] = df16['OptYr_prefix'] + df16['OptYr_no']
df16.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length,SR,OptYr_prefix,OptYr_no,OptYr
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,16,SR-0000000,OY,7,OY7
2,"THOMPSON, MORRIS R",2017-07-31,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,16,SR-0000000,OY,7,OY7
3,"THOMPSON, MORRIS R",2017-08-10,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16,SR-0000000,OY,8,OY8

In [40]:
df16 = df16.drop('OptYr_no', 1)
df16 = df16.drop('OptYr_prefix', 1)
df16.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length,SR,OptYr
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,16,SR-0000000,OY7
2,"THOMPSON, MORRIS R",2017-07-31,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,16,SR-0000000,OY7
3,"THOMPSON, MORRIS R",2017-08-10,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,16,SR-0000000,OY8

In [41]:
df16 = df16[['User', 'Work Date', 'Description', 'CLIN', 'WBS', 'TPID', 'Straight', 'Overtime', 'Total', 'SR', 'OptYr', 'tpid_length']]
df16.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,SR,OptYr,tpid_length
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,SR-0000000,OY7,16
2,"THOMPSON, MORRIS R",2017-07-31,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,SR-0000000,OY7,16
3,"THOMPSON, MORRIS R",2017-08-10,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00,SR-0000000,OY8,16

In [42]:
df24.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length
0,"THOMPSON, MORRIS R",2017-07-21,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,0.00,0.00,0.00,24
56,"THOMPSON, MORRIS R",2017-07-11,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,8.00,0.00,8.00,24
57,"THOMPSON, MORRIS R",2017-07-18,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,8.00,0.00,8.00,24

In [43]:
# add option year prefix
df24['OptYr_prefix'] = 'OY'
df24.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,tpid_length,OptYr_prefix
0,"THOMPSON, MORRIS R",2017-07-21,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,0.00,0.00,0.00,24,OY
56,"THOMPSON, MORRIS R",2017-07-11,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,8.00,0.00,8.00,24,OY
57,"THOMPSON, MORRIS R",2017-07-18,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,8.00,0.00,8.00,24,OY

['$RECYCLE.BIN',
 '.ipynb_checkpoints',
 '.Rhistory',
 'AP2 Regular & OT Hours for Adv by CCC_#505ap-modified.csv',
 'Cleaned',
 'cognos_1s_management(v1).ipynb',
 'cognos_data_management(v1).ipynb',
 'cognos_data_management(v1.1).ipynb',
 'cognos_data_management(v1.2).ipynb',
 'cognos_data_management(v1.3).ipynb',
 'cognos_data_management(v2).ipynb',
 'cognos_data_management(v2.1).ipynb',
 'cognos_data_management(v3).ipynb',
 'cognos_data_management_13976(v3).ipynb',
 'cognos_data_management_1S(v3).ipynb',
 'Custom Office Templates',
 'CV-William T. Coombs (8 April 2018).pdf',
 'desktop.ini',
 'IE',
 'import_this_data-modified.csv',
 'logoff.txt',
 'logon.txt',
 'movehomelog.txt',
 'My Music',
 'My Pictures',
 'My Videos',
 'picnicapp (14 June 2018).pdf',
 'prelogon.txt',
 'quiz_data.ipynb',
 'R',
 'RECYCLER',
 'Redacted',
 'RegSandRV2ExceptionLog.txt',
 'RegSandRV2Log.txt',
 'Remote Assistance Logs',
 'suggestions-wtc.docx',
 'suggestions-wtc.pdf',
 'Untitled Folder',
 'vitality2-1-wtc.docx']

In [ ]:
df24 = df24.drop('OptYr_no', 1)
df24 = df24.drop('OptYr_prefix', 1)
df24.head(3)

In [66]:
# column a
df['User'].head(2)

0    THOMPSON, MORRIS R
1    THOMPSON, MORRIS R
Name: User, dtype: object

In [67]:
# column b
# modify workdate format
# df['Work Date'] = pandas.to_datetime(df['Work Date']).dt.strftime('%Y-%m-%d')
df.head(2)

,User,Work Date,Description,CLIN,WB2,TPID,Straight,Overtime,Total,SR_temp,OptYr,tpid_length
0,"THOMPSON, MORRIS R",2017-07-21,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,0.00,0.00,0.00,,,24
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,,,16

In [68]:
# column c
df['Description'].head(2)

0      Unbillable L&P
1    Asset Management
Name: Description, dtype: object

In [72]:
# column d
# get clin from tpid
# df['CLIN'] = data.TPID.str.split(".", expand=True,)[3]
df.head(2)

,User,Work Date,Description,CLIN,WB2,TPID,Straight,Overtime,Total,SR_temp,OptYr,tpid_length,WBS
0,"THOMPSON, MORRIS R",2017-07-21,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,0.00,0.00,0.00,,,24,000
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,,,16,514

In [70]:
# column e
# get wbs from tpid
# df['WBS'] = data.TPID.str.split(".", expand=True,)[4]
df['WBS'] = df['WB2']
df.head(2)

,User,Work Date,Description,CLIN,WB2,TPID,Straight,Overtime,Total,SR_temp,OptYr,tpid_length,WBS
0,"THOMPSON, MORRIS R",2017-07-21,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,0.00,0.00,0.00,,,24,000
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,,,16,514

In [71]:
df.drop(['WBS'], axis=1)
df.head(2)

,User,Work Date,Description,CLIN,WB2,TPID,Straight,Overtime,Total,SR_temp,OptYr,tpid_length,WBS
0,"THOMPSON, MORRIS R",2017-07-21,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,0.00,0.00,0.00,,,24,000
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00,,,16,514

In [22]:
# column f
# tpid
df.head(2)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,SR_temp,OptYr
0,"SCHNEIDER, LAURA E",2020-07-14,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,,OY.
1,"SCHNEIDER, LAURA E",2020-07-17,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,,OY.

In [23]:
# save syntax to modfiy column order
# df = df[['User', 'Work Date', 'Description', 'CLIN', 'WBS', 'TPID', 'Straight', 'Overtime', 'Total', 'SR', 'OptYr']]

In [24]:
# check metadata
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224524 entries, 0 to 224523
Data columns (total 11 columns):
User           224524 non-null object
Work Date      224524 non-null object
Description    224524 non-null object
CLIN           224524 non-null object
WBS            224524 non-null object
TPID           224524 non-null object
Straight       224524 non-null float64
Overtime       224524 non-null float64
Total          224524 non-null float64
SR_temp        224524 non-null object
OptYr          224524 non-null object
dtypes: float64(3), object(8)
memory usage: 18.8+ MB

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224524 entries, 0 to 224523
Data columns (total 23 columns):
User                 224524 non-null object
User Id              224524 non-null object
Work Date            224524 non-null object
Month                224524 non-null object
Description          224524 non-null object
REF ID               224524 non-null int64
CLIN                 224524 non-null object
WBS                  38891 non-null object
TASK                 224524 non-null object
TPID                 224524 non-null object
ProjNo               224524 non-null object
WB2                  224524 non-null object
Project Id           224524 non-null object
Pay Type             224524 non-null object
Corporation          224524 non-null object
Company Name         224524 non-null object
Approver             224524 non-null object
Status               224524 non-null object
Straight             224524 non-null float64
Overtime             224524 non-null float64
Total                224524 non-null float64
Date Time Entered    224524 non-null object
Org Id               224508 non-null object
dtypes: float64(3), int64(1), object(19)
memory usage: 39.4+ MB

In [26]:
# what size are some of the objects?
print('data', sys.getsizeof(data))
print('df', sys.getsizeof(df))
print('Straight', sys.getsizeof(df['Straight']))
print('TPID', sys.getsizeof(df['TPID']))

data 287816297
df 124849967
Straight 1796296
TPID 17599580

In [27]:
# delete original dataframe to free up memory
del[data]

In [28]:
# save delete datafrome column syntax
# df = df.drop('Company Name', 1)

In [29]:
gc.collect()

73

In [30]:
# add tpid character count column
df['tpid_length'] = df['TPID'].str.len()
df['tpid_length'].head(3)

0    20
1    20
2    20
Name: tpid_length, dtype: int64

In [31]:
# where tpid_length = 28
df['tpid_length'][df['tpid_length'] == 28].head(3)

2338    28
2339    28
2340    28
Name: tpid_length, dtype: int64

In [32]:
df.head(2)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,SR_temp,OptYr,tpid_length
0,"SCHNEIDER, LAURA E",2020-07-14,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,,OY.,20
1,"SCHNEIDER, LAURA E",2020-07-17,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,,OY.,20

In [33]:
# where tpid_length != 28
df[df['tpid_length'] != 28].head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,SR_temp,OptYr,tpid_length
0,"SCHNEIDER, LAURA E",2020-07-14,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,,OY.,20
1,"SCHNEIDER, LAURA E",2020-07-17,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,,OY.,20
2,"SCHNEIDER, LAURA E",2020-07-20,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,8.00,0.00,8.00,,OY.,20

In [34]:
# filter on tpid_length
df20 = df[df['tpid_length'] != 28]
df20.shape

(185633, 12)

In [35]:
df20.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,SR_temp,OptYr,tpid_length
0,"SCHNEIDER, LAURA E",2020-07-14,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,,OY.,20
1,"SCHNEIDER, LAURA E",2020-07-17,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,,OY.,20
2,"SCHNEIDER, LAURA E",2020-07-20,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,8.00,0.00,8.00,,OY.,20

In [36]:
# filter on tpid_length
df28 = df[df['tpid_length'] == 28]
df28.shape

(38891, 12)

In [37]:
del[df]
gc.collect()

450

In [38]:
# SR column
df20.insert(10, 'SR', 'SR-0000000')
df20.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,SR_temp,SR,OptYr,tpid_length
0,"SCHNEIDER, LAURA E",2020-07-14,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,,SR-0000000,OY.,20
1,"SCHNEIDER, LAURA E",2020-07-17,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,,SR-0000000,OY.,20
2,"SCHNEIDER, LAURA E",2020-07-20,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,8.00,0.00,8.00,,SR-0000000,OY.,20

In [39]:
# delete SR_temp column
df20 = df20.drop('SR_temp', 1)
df20.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,SR,OptYr,tpid_length
0,"SCHNEIDER, LAURA E",2020-07-14,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,SR-0000000,OY.,20
1,"SCHNEIDER, LAURA E",2020-07-17,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,SR-0000000,OY.,20
2,"SCHNEIDER, LAURA E",2020-07-20,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,8.00,0.00,8.00,SR-0000000,OY.,20

In [40]:
df28.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,SR_temp,OptYr,tpid_length
2338,"TIMMONS, CARL A",2019-09-23,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,,OY.,28
2339,"TIMMONS, CARL A",2019-09-24,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,,OY.,28
2340,"TIMMONS, CARL A",2019-09-27,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,,OY.,28

In [41]:
# get sr from tpid
df28['SR_no'] = df28.TPID.str.split(".", expand=True,)[5]
df28.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,SR_temp,OptYr,tpid_length,SR_no
2338,"TIMMONS, CARL A",2019-09-23,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,,OY.,28,5262550
2339,"TIMMONS, CARL A",2019-09-24,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,,OY.,28,5262550
2340,"TIMMONS, CARL A",2019-09-27,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,,OY.,28,5262550

In [42]:
df28.insert(10, 'SR_prefix', 'SR-')
df28.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,SR_temp,SR_prefix,OptYr,tpid_length,SR_no
2338,"TIMMONS, CARL A",2019-09-23,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,,SR-,OY.,28,5262550
2339,"TIMMONS, CARL A",2019-09-24,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,,SR-,OY.,28,5262550
2340,"TIMMONS, CARL A",2019-09-27,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,,SR-,OY.,28,5262550

In [43]:
df28['SR'] = df28['SR_prefix'] + df28['SR_no']
df28.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,SR_temp,SR_prefix,OptYr,tpid_length,SR_no,SR
2338,"TIMMONS, CARL A",2019-09-23,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,,SR-,OY.,28,5262550,SR-5262550
2339,"TIMMONS, CARL A",2019-09-24,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,,SR-,OY.,28,5262550,SR-5262550
2340,"TIMMONS, CARL A",2019-09-27,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,,SR-,OY.,28,5262550,SR-5262550

In [44]:
# delete SR_temp column
df28 = df28.drop('SR_temp', 1)
df28.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,SR_prefix,OptYr,tpid_length,SR_no,SR
2338,"TIMMONS, CARL A",2019-09-23,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,SR-,OY.,28,5262550,SR-5262550
2339,"TIMMONS, CARL A",2019-09-24,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,SR-,OY.,28,5262550,SR-5262550
2340,"TIMMONS, CARL A",2019-09-27,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,SR-,OY.,28,5262550,SR-5262550

In [45]:
# delete SR_prefix column
df28 = df28.drop('SR_prefix', 1)
df28.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,OptYr,tpid_length,SR_no,SR
2338,"TIMMONS, CARL A",2019-09-23,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,OY.,28,5262550,SR-5262550
2339,"TIMMONS, CARL A",2019-09-24,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,OY.,28,5262550,SR-5262550
2340,"TIMMONS, CARL A",2019-09-27,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,OY.,28,5262550,SR-5262550

In [46]:
# delete SR_no column
df28 = df28.drop('SR_no', 1)
df28.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,OptYr,tpid_length,SR
2338,"TIMMONS, CARL A",2019-09-23,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,OY.,28,SR-5262550
2339,"TIMMONS, CARL A",2019-09-24,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,OY.,28,SR-5262550
2340,"TIMMONS, CARL A",2019-09-27,Installation-Fixed Price,0014,000,13976.00.00.0014.000.5262550,8.00,0.00,8.00,OY.,28,SR-5262550

In [47]:
# standardize column order
df20 = df20[['User', 'Work Date', 'Description', 'CLIN', 'WBS', 'TPID', 'Straight', 'Overtime', 'Total', 'SR', 'OptYr', 'tpid_length']]
df28 = df28[['User', 'Work Date', 'Description', 'CLIN', 'WBS', 'TPID', 'Straight', 'Overtime', 'Total', 'SR', 'OptYr', 'tpid_length']]

In [48]:
# concatenate vertical dataframes
df = pandas.concat([df20, df28], axis=0)

In [49]:
df20.shape

(185633, 12)

In [50]:
df28.shape

(38891, 12)

In [51]:
# check columns
df.shape

(224524, 12)

In [52]:
del[df20, df28]

In [53]:
gc.collect()

300

In [54]:
# write data to csv (default is U:\Documents)
df.to_csv('AP2 Regular & OT Hours for Adv by CCC_#505ap-modified.csv')

In [55]:
# check metadata
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 224524 entries, 0 to 224482
Data columns (total 12 columns):
User           224524 non-null object
Work Date      224524 non-null object
Description    224524 non-null object
CLIN           224524 non-null object
WBS            224524 non-null object
TPID           224524 non-null object
Straight       224524 non-null float64
Overtime       224524 non-null float64
Total          224524 non-null float64
SR             224524 non-null object
OptYr          224524 non-null object
tpid_length    224524 non-null int64
dtypes: float64(3), int64(1), object(8)
memory usage: 22.3+ MB

In [56]:
# data check
df.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,SR,OptYr,tpid_length
0,"SCHNEIDER, LAURA E",2020-07-14,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,SR-0000000,OY.,20
1,"SCHNEIDER, LAURA E",2020-07-17,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,SR-0000000,OY.,20
2,"SCHNEIDER, LAURA E",2020-07-20,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,8.00,0.00,8.00,SR-0000000,OY.,20

In [57]:
# tip 1
# create dataframe with mixed data types
pandas.util.testing.makeMixedDataFrame()

     A    B     C          D
0 0.00 0.00  foo1 2009-01-01
1 1.00 1.00  foo2 2009-01-02
2 2.00 0.00  foo3 2009-01-05
3 3.00 1.00  foo4 2009-01-06
4 4.00 0.00  foo5 2009-01-07

In [58]:
# tip 2
# insert a new column which is a function of another column
dftest = pandas.util.testing.makeMixedDataFrame()
#print(dftest)
dftest.insert(3, 'A2', dftest['A'] * 2)
dftest

     A    B     C   A2          D
0 0.00 0.00  foo1 0.00 2009-01-01
1 1.00 1.00  foo2 2.00 2009-01-02
2 2.00 0.00  foo3 4.00 2009-01-05
3 3.00 1.00  foo4 6.00 2009-01-06
4 4.00 0.00  foo5 8.00 2009-01-07

In [59]:
# tip 3
# insert a new column with a constant value in the column with index 3 (i.e., 4)
dftest = pandas.util.testing.makeMixedDataFrame()
dftest.insert(3, 'Country', 'USA')
dftest

     A    B     C Country          D
0 0.00 0.00  foo1     USA 2009-01-01
1 1.00 1.00  foo2     USA 2009-01-02
2 2.00 0.00  foo3     USA 2009-01-05
3 3.00 1.00  foo4     USA 2009-01-06
4 4.00 0.00  foo5     USA 2009-01-07

In [60]:
# tip 4
# change column names
dftest = pandas.util.testing.makeMixedDataFrame()
dftest
dftest.rename(columns={'A':'ID', 'D':'Date'})

    ID    B     C       Date
0 0.00 0.00  foo1 2009-01-01
1 1.00 1.00  foo2 2009-01-02
2 2.00 0.00  foo3 2009-01-05
3 3.00 1.00  foo4 2009-01-06
4 4.00 0.00  foo5 2009-01-07

In [61]:
# tip 5
# duplicate a column
dftest = pandas.util.testing.makeMixedDataFrame()
dftest['E'] = dftest['C']
dftest

     A    B     C          D     E
0 0.00 0.00  foo1 2009-01-01  foo1
1 1.00 1.00  foo2 2009-01-02  foo2
2 2.00 0.00  foo3 2009-01-05  foo3
3 3.00 1.00  foo4 2009-01-06  foo4
4 4.00 0.00  foo5 2009-01-07  foo5

In [62]:
# tip 6
# determine dataframe datatypes
dftest = pandas.util.testing.makeMixedDataFrame()
dataTypeSeries = dftest.dtypes
print(dataTypeSeries)

A           float64
B           float64
C            object
D    datetime64[ns]
dtype: object

In [63]:
# tip 7
# delete a dataframe column

# df = df.drop('column_name', 1)
# where 1 is the axis number (0 for rows and 1 for columns.)

# To delete the column without having to reassign df you can do:
# df.drop('column_name', axis=1, inplace=True)

# To drop by column number instead of by column label, try this to delete, e.g. the 1st, 2nd and 4th columns:
# df = df.drop(df.columns[[0, 1, 3]], axis=1)  
# df.columns is zero-based pd.Index 

# Working with "text" syntax for the columns:
# df.drop(['column_nameA', 'column_nameB'], axis=1, inplace=True)

dftest = pandas.util.testing.makeMixedDataFrame()
print(dftest)
dftest = dftest.drop('C', 1)
print(dftest)

     A    B     C          D
0 0.00 0.00  foo1 2009-01-01
1 1.00 1.00  foo2 2009-01-02
2 2.00 0.00  foo3 2009-01-05
3 3.00 1.00  foo4 2009-01-06
4 4.00 0.00  foo5 2009-01-07
     A    B          D
0 0.00 0.00 2009-01-01
1 1.00 1.00 2009-01-02
2 2.00 0.00 2009-01-05
3 3.00 1.00 2009-01-06
4 4.00 0.00 2009-01-07

In [64]:
# tip 8
# reorder columns (flipflop column a and column d)
dftest = pandas.util.testing.makeMixedDataFrame()
print(dftest)
dftest = dftest[['D','B','C','A']]
print(dftest)

     A    B     C          D
0 0.00 0.00  foo1 2009-01-01
1 1.00 1.00  foo2 2009-01-02
2 2.00 0.00  foo3 2009-01-05
3 3.00 1.00  foo4 2009-01-06
4 4.00 0.00  foo5 2009-01-07
           D    B     C    A
0 2009-01-01 0.00  foo1 0.00
1 2009-01-02 1.00  foo2 1.00
2 2009-01-05 0.00  foo3 2.00
3 2009-01-06 1.00  foo4 3.00
4 2009-01-07 0.00  foo5 4.00

In [65]:
df.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,SR,OptYr,tpid_length
0,"SCHNEIDER, LAURA E",2020-07-14,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,SR-0000000,OY.,20
1,"SCHNEIDER, LAURA E",2020-07-17,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,SR-0000000,OY.,20
2,"SCHNEIDER, LAURA E",2020-07-20,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,8.00,0.00,8.00,SR-0000000,OY.,20

In [66]:
# delete tpid_length column
df = df.drop('tpid_length', 1)
df.head(3)

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total,SR,OptYr
0,"SCHNEIDER, LAURA E",2020-07-14,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,SR-0000000,OY.
1,"SCHNEIDER, LAURA E",2020-07-17,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,0.00,0.00,0.00,SR-0000000,OY.
2,"SCHNEIDER, LAURA E",2020-07-20,Standby Only - COVID-19,0111,999,13976.00.01.0111.999,8.00,0.00,8.00,SR-0000000,OY.

In [67]:
df.to_excel (r'U:\AP2 Regular & OT Hours for Adv by CCC_#505ap-modified.xlsx', index = False, header=True)

In [49]:
import datetime
#oy1
d1s = datetime.date(2010,8,3)
d1e = datetime.date(2011,8,2) 
print('oy1', d1s, d1e)
df[(df['Work Date'] >= d1s) & (df['Work Date'] <= d1e)]

oy1 2010-08-03 2011-08-02

NameError: name 'df' is not defined

In [228]:
#oy2
d2s = datetime.date(2011,8,3)
d2e = datetime.date(2012,8,2) 
print('oy2', d2s, d2e)
df[(df['Work Date'] >= d2s) & (df['Work Date'] <= d2e)]

oy2 2011-08-03 2012-08-02

Empty DataFrame
Columns: [User, Work Date, Description, CLIN, WBS, TPID, Straight, Overtime, Total]
Index: []

In [229]:
#oy3
d3s = datetime.date(2012,8,3)
d3e = datetime.date(2013,8,2) 
print('oy3', d3s, d3e)
df[(df['Work Date'] >= d3s) & (df['Work Date'] <= d3e)]

oy3 2012-08-03 2013-08-02

Empty DataFrame
Columns: [User, Work Date, Description, CLIN, WBS, TPID, Straight, Overtime, Total]
Index: []

In [230]:
#oy4
d4s = datetime.date(2013,8,3)
d4e = datetime.date(2014,8,2) 
print('oy4', d4s, d4e)
df[(df['Work Date'] >= d4s) & (df['Work Date'] <= d4e)]

oy4 2013-08-03 2014-08-02

Empty DataFrame
Columns: [User, Work Date, Description, CLIN, WBS, TPID, Straight, Overtime, Total]
Index: []

In [231]:
#oy5
d5s = datetime.date(2014,8,3)
d5e = datetime.date(2015,8,2) 
print('oy5', d5s, d5e)
df[(df['Work Date'] >= d5s) & (df['Work Date'] <= d5e)]

oy5 2014-08-03 2015-08-02

Empty DataFrame
Columns: [User, Work Date, Description, CLIN, WBS, TPID, Straight, Overtime, Total]
Index: []

In [232]:
#oy6
d6s = datetime.date(2015,8,3)
d6e = datetime.date(2016,8,2) 
print('oy6', d6s, d6e)
df[(df['Work Date'] >= d6s) & (df['Work Date'] <= d6e)]

oy6 2015-08-03 2016-08-02

Empty DataFrame
Columns: [User, Work Date, Description, CLIN, WBS, TPID, Straight, Overtime, Total]
Index: []

In [233]:
#oy7
d7s = datetime.date(2016,8,3)
d7e = datetime.date(2017,8,2) 
print('oy7', d7s, d7e)
df[(df['Work Date'] >= d7s) & (df['Work Date'] <= d7e)]

oy7 2016-08-03 2017-08-02

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total
0,"THOMPSON, MORRIS R",2017-07-21,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,0.00,0.00,0.00
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00
2,"THOMPSON, MORRIS R",2017-07-31,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00
56,"THOMPSON, MORRIS R",2017-07-11,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,8.00,0.00,8.00
57,"THOMPSON, MORRIS R",2017-07-18,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,8.00,0.00,8.00
58,"THOMPSON, MORRIS R",2017-08-01,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00
127,"THOMPSON, MORRIS R",2017-07-17,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,8.00,0.00,8.00
128,"THOMPSON, MORRIS R",2017-07-19,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00
129,"THOMPSON, MORRIS R",2017-07-20,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,0.00,0.00,0.00
190,"THOMPSON, MORRIS R",2017-07-13,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,8.00,0.00,8.00
256,"THOMPSON, MORRIS R",2017-07-12,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,8.00,0.00,8.00
257,"THOMPSON, MORRIS R",2017-07-27,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00
330,"THOMPSON, MORRIS R",2017-07-21,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00
397,"THOMPSON, MORRIS R",2017-07-14,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,8.00,0.00,8.00
398,"THOMPSON, MORRIS R",2017-07-20,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00
399,"THOMPSON, MORRIS R",2017-07-25,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00
400,"THOMPSON, MORRIS R",2017-07-26,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00
401,"THOMPSON, MORRIS R",2017-08-02,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00
477,"THOMPSON, MORRIS R",2017-07-10,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00
478,"THOMPSON, MORRIS R",2017-07-28,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00
875,"LOVELACE, TAMEKA N",2017-03-20,Site L,7900,000,1SAP2.C.7900.000,4.00,0.00,4.00
876,"LOVELACE, TAMEKA N",2017-03-22,Site L,7900,000,1SAP2.C.7900.000,0.00,4.00,4.00
877,"LOVELACE, TAMEKA N",2017-03-23,Site L,7900,000,1SAP2.C.7900.000,4.00,0.00,4.00
878,"LOVELACE, TAMEKA N",2017-04-05,Site L,7900,000,1SAP2.C.7900.000,0.00,4.00,4.00
879,"LOVELACE, TAMEKA N",2017-04-10,Site L,7900,000,1SAP2.C.7900.000,4.00,0.00,4.00
880,"LOVELACE, TAMEKA N",2017-04-19,Site L,7900,000,1SAP2.C.7900.000,4.00,0.00,4.00
881,"LOVELACE, TAMEKA N",2017-05-04,Site L,7900,000,1SAP2.C.7900.000,4.00,0.00,4.00
882,"LOVELACE, TAMEKA N",2017-05-09,Site L,7900,000,1SAP2.C.7900.000,4.00,0.00,4.00
883,"LOVELACE, TAMEKA N",2017-05-12,Site L,7900,000,1SAP2.C.7900.000,0.00,4.00,4.00
884,"LOVELACE, TAMEKA N",2017-05-24,Site L,7900,000,1SAP2.C.7900.000,0.00,4.00,4.00
...,...,...,...,...,...,...,...,...,...
595820,"Simmons, Kenneth",2017-05-02,D Mission Support,7300,683,1SAP2.C.7300.683,9.00,0.00,9.00
595821,"Simmons, Kenneth",2017-05-09,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00
595822,"Simmons, Kenneth",2017-05-18,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00
595823,"Simmons, Kenneth",2017-06-27,D Mission Support,7300,683,1SAP2.C.7300.683,8.50,0.00,8.50
595824,"Simmons, Kenneth",2017-06-28,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00
595825,"Simmons, Kenneth",2017-07-03,D Mission Support,7300,683,1SAP2.C.7300.683,5.50,0.00,5.50
595826,"Simmons, Kenneth",2017-07-05,D Mission Support,7300,683,1SAP2.C.7300.683,12.00,0.00,12.00
595827,"Simmons, Kenneth",2017-07-08,D Mission Support,7300,683,1SAP2.C.7300.683,4.50,0.00,4.50
595828,"Simmons, Kenneth",2017-03-29,D Mission Support,7300,683,1SAP2.C.7300.683,7.50,0.00,7.50
595829,"Simmons, Kenneth",2017-04-06,D Mission Support,7300,683,1SAP2.C.7300.683,7.00,0.00,7.00
595830,"Simmons, Kenneth",2017-04-19,D Mission Support,7300,683,1SAP2.C.7300.683,8.50,0.00,8.50
595831,"Simmons, Kenneth",2017-04-24,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00
595832,"Simmons, Kenneth",2017-04-26,D Mission Support,7300,683,1SAP2.C.7300.683,9.50,0.00,9.50
595833,"Simmons, Kenneth",2017-05-05,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00
595834,"Simmons, Kenneth",2017-05-24,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00
595835,"Simmons, Kenneth",2017-05-31,D Mission Support,7300,683,1SAP2.C.7300.683,8.50,0.00,8.50
595836,"Simmons, Kenneth",2017-06-06,D Mission Support,7300,683,1SAP2.C.7300.683,8.50,0.00,8.50
595837,"Simmons, Kenneth",2017-06-18,D Mission Support,7300,683,1SAP2.C.7300.683,13.00,0.00,13.00
595838,"Simmons, Kenneth",2017-06-21,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00
595839,"Simmons, Kenneth",2017-07-10,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00
595840,"Simmons, Kenneth",2017-07-13,D Mission Support,7300,683,1SAP2.C.7300.683,3.50,0.00,3.50
595841,"Simmons, Kenneth",2017-03-20,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00
595842,"Simmons, Kenneth",2017-03-23,D Mission Support,7300,683,1SAP2.C.7300.683,8.00,0.00,8.00
595843,"Simmons, Kenneth",2017-03-27,D Mission Support,7300,683,1SAP2.C.7300.683,7.00,0.00,7.00
595844,"Simmons, Kenneth",2017-04-17,D Mission Support,7300,683,1SAP2.C.7300.683,6.00,0.00,6.00
595845,"Simmons, Kenneth",2017-05-07,D Mission Support,7300,683,1SAP2.C.7300.683,14.00,0.00,14.00
595846,"Simmons, Kenneth",2017-05-10,D Mission Support,7300,683,1SAP2.C.7300.683,11.50,0.00,11.50
595847,"Simmons, Kenneth",2017-06-13,D Mission Support,7300,683,1SAP2.C.7300.683,8.50,0.00,8.50
595848,"Simmons, Kenneth",2017-07-06,D Mission Support,7300,683,1SAP2.C.7300.683,12.00,0.00,12.00
595849,"Simmons, Kenneth",2017-07-19,D Mission Support,7300,683,1SAP2.C.7300.683,5.50,0.00,5.50

In [234]:
#oy8
d8s = datetime.date(2017,8,3)
d8e = datetime.date(2018,8,2) 
print('oy8', d8s, d8e)
df[(df['Work Date'] >= d8s) & (df['Work Date'] <= d8e)]

oy8 2017-08-03 2018-08-02

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total
3,"THOMPSON, MORRIS R",2017-08-10,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
4,"THOMPSON, MORRIS R",2017-08-28,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
5,"THOMPSON, MORRIS R",2017-09-07,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
6,"THOMPSON, MORRIS R",2017-09-20,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
7,"THOMPSON, MORRIS R",2017-09-21,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
8,"THOMPSON, MORRIS R",2017-09-25,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
9,"THOMPSON, MORRIS R",2017-10-06,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
10,"THOMPSON, MORRIS R",2017-10-27,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
11,"THOMPSON, MORRIS R",2017-10-30,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
12,"THOMPSON, MORRIS R",2017-11-02,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
13,"THOMPSON, MORRIS R",2017-11-07,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
14,"THOMPSON, MORRIS R",2017-11-08,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
15,"THOMPSON, MORRIS R",2017-11-17,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
16,"THOMPSON, MORRIS R",2017-11-20,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
17,"THOMPSON, MORRIS R",2017-11-28,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
18,"THOMPSON, MORRIS R",2017-11-29,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
19,"THOMPSON, MORRIS R",2017-12-08,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
20,"THOMPSON, MORRIS R",2018-01-16,Asset Management,8400,514,1SAP2.C.8400.514,4.00,0.00,4.00
21,"THOMPSON, MORRIS R",2018-01-30,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
22,"THOMPSON, MORRIS R",2018-02-12,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
23,"THOMPSON, MORRIS R",2018-02-20,Asset Management,8400,514,1SAP2.C.8400.514,-8.00,0.00,-8.00
24,"THOMPSON, MORRIS R",2018-02-23,Asset Management,8400,514,1SAP2.C.8400.514,-8.00,0.00,-8.00
25,"THOMPSON, MORRIS R",2018-02-23,Asset Mgmt (Local),8440,514,1SAP2.C.8440.514,8.00,0.00,8.00
26,"THOMPSON, MORRIS R",2018-03-05,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
27,"THOMPSON, MORRIS R",2018-03-06,Asset Management,8400,514,1SAP2.C.8400.514,8.00,0.00,8.00
28,"THOMPSON, MORRIS R",2018-03-07,Asset Mgmt (Local),8440,514,1SAP2.C.8440.514,8.00,0.00,8.00
29,"THOMPSON, MORRIS R",2018-03-16,Asset Mgmt (Local),8440,514,1SAP2.C.8440.514,8.00,0.00,8.00
30,"THOMPSON, MORRIS R",2018-03-23,Asset Mgmt (Local),8440,514,1SAP2.C.8440.514,7.50,0.00,7.50
31,"THOMPSON, MORRIS R",2018-03-27,Asset Mgmt (Local),8440,514,1SAP2.C.8440.514,8.00,0.00,8.00
32,"THOMPSON, MORRIS R",2018-05-16,Asset Mgmt (Local),8440,514,1SAP2.C.8440.514,8.00,0.00,8.00
...,...,...,...,...,...,...,...,...,...
595662,"Holbrook, Michael",2017-08-29,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,0.00,0.00,0.00
595663,"Holbrook, Michael",2017-09-01,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,0.00,0.00,0.00
595664,"Holbrook, Michael",2017-09-04,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,0.00,0.00,0.00
595665,"Holbrook, Michael",2017-09-06,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,0.00,0.00,0.00
595666,"Holbrook, Michael",2017-09-07,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,8.00,0.00,8.00
595667,"Holbrook, Michael",2017-09-14,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,0.00,0.00,0.00
595668,"Holbrook, Michael",2017-10-03,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,8.00,0.00,8.00
595669,"Holbrook, Michael",2017-10-04,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,8.00,0.00,8.00
595670,"Holbrook, Michael",2017-10-06,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,5.00,0.00,5.00
595671,"Holbrook, Michael",2017-10-17,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,8.00,0.00,8.00
595672,"Holbrook, Michael",2017-10-26,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,8.00,0.00,8.00
595673,"Holbrook, Michael",2017-11-09,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,8.00,0.00,8.00
595683,"Holbrook, Michael",2017-08-11,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,7.00,0.00,7.00
595684,"Holbrook, Michael",2017-08-21,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,8.00,0.00,8.00
595685,"Holbrook, Michael",2017-08-28,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,0.00,0.00,0.00
595686,"Holbrook, Michael",2017-08-31,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,0.00,0.00,0.00
595687,"Holbrook, Michael",2017-09-05,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,0.00,0.00,0.00
595688,"Holbrook, Michael",2017-09-21,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,8.00,0.00,8.00
595689,"Holbrook, Michael",2017-10-02,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,8.50,0.00,8.50
595690,"Holbrook, Michael",2017-10-11,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,9.00,0.00,9.00
595691,"Holbrook, Michael",2017-11-03,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,7.00,0.00,7.00
595692,"Holbrook, Michael",2017-11-07,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,8.00,0.00,8.00
595693,"Holbrook, Michael",2017-11-15,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,8.00,0.00,8.00
595707,"Holbrook, Michael",2017-08-03,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,10.00,0.00,10.00
595708,"Holbrook, Michael",2017-08-15,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,14.50,0.00,14.50
595709,"Holbrook, Michael",2017-09-11,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,8.00,0.00,8.00
595710,"Holbrook, Michael",2017-09-13,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,0.00,0.00,0.00
595711,"Holbrook, Michael",2017-09-26,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,7.00,0.00,7.00
595712,"Holbrook, Michael",2017-10-13,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,8.00,0.00,8.00
595713,"Holbrook, Michael",2017-10-23,TIER 3 TEAM,8330,000,1SAP2.F.8330.000.TIER003,8.00,0.00,8.00

In [235]:
#oy9
d9s = datetime.date(2018,8,3)
d9e = datetime.date(2019,8,2) 
print('oy9', d9s, d9e)
df[(df['Work Date'] >= d9s) & (df['Work Date'] <= d9e)]

oy9 2018-08-03 2019-08-02

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total
35,"THOMPSON, MORRIS R",2018-08-06,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.00,0.00,8.00
36,"THOMPSON, MORRIS R",2018-08-20,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.50,0.00,8.50
37,"THOMPSON, MORRIS R",2018-08-22,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.00,0.00,8.00
38,"THOMPSON, MORRIS R",2018-08-30,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.00,0.00,8.00
39,"THOMPSON, MORRIS R",2018-09-06,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.00,0.00,8.00
40,"THOMPSON, MORRIS R",2018-09-26,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.00,0.00,8.00
41,"THOMPSON, MORRIS R",2018-10-10,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.00,0.00,8.00
42,"THOMPSON, MORRIS R",2018-10-15,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.00,0.00,8.00
43,"THOMPSON, MORRIS R",2019-01-07,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.00,0.00,8.00
44,"THOMPSON, MORRIS R",2019-02-22,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.00,0.00,8.00
45,"THOMPSON, MORRIS R",2019-03-18,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.50,0.00,8.50
46,"THOMPSON, MORRIS R",2019-03-26,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.50,0.00,8.50
47,"THOMPSON, MORRIS R",2019-04-18,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.50,0.00,8.50
48,"THOMPSON, MORRIS R",2019-04-22,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.50,0.00,8.50
49,"THOMPSON, MORRIS R",2019-05-10,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,6.00,0.00,6.00
50,"THOMPSON, MORRIS R",2019-05-20,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.50,0.00,8.50
51,"THOMPSON, MORRIS R",2019-06-07,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,5.50,0.00,5.50
52,"THOMPSON, MORRIS R",2019-06-20,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,9.00,0.00,9.00
53,"THOMPSON, MORRIS R",2019-06-26,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,9.00,0.00,9.00
54,"THOMPSON, MORRIS R",2019-07-15,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,9.00,0.00,9.00
55,"THOMPSON, MORRIS R",2019-07-23,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,9.00,0.00,9.00
100,"THOMPSON, MORRIS R",2018-08-21,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.00,0.00,8.00
101,"THOMPSON, MORRIS R",2018-09-17,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,9.50,0.00,9.50
102,"THOMPSON, MORRIS R",2018-09-18,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.00,0.00,8.00
103,"THOMPSON, MORRIS R",2018-10-25,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.00,0.00,8.00
104,"THOMPSON, MORRIS R",2018-11-15,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.00,0.00,8.00
105,"THOMPSON, MORRIS R",2018-11-30,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,7.00,0.00,7.00
106,"THOMPSON, MORRIS R",2018-12-10,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.00,0.00,8.00
107,"THOMPSON, MORRIS R",2018-12-27,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,8.00,0.00,8.00
108,"THOMPSON, MORRIS R",2019-01-11,Asset Mgmt (Local),9440,514,1SAP2.C.9440.514,7.00,0.00,7.00
...,...,...,...,...,...,...,...,...,...
595349,"Stokes, Duane",2019-02-28,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,11.00,0.00,11.00
595350,"Stokes, Duane",2019-03-04,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,10.00,0.00,10.00
595351,"Stokes, Duane",2019-03-18,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,9.50,0.00,9.50
595352,"Stokes, Duane",2019-04-18,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,13.00,0.00,13.00
595353,"Stokes, Duane",2019-05-03,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,10.00,0.00,10.00
595354,"Stokes, Duane",2019-06-13,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,11.50,0.00,11.50
595355,"Stokes, Duane",2019-06-24,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,10.00,0.00,10.00
595356,"Stokes, Duane",2019-07-16,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,10.00,0.00,10.00
595357,"Stokes, Duane",2019-07-23,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,12.50,0.00,12.50
595358,"Stokes, Duane",2019-07-29,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,7.00,0.00,7.00
595359,"Stokes, Duane",2019-08-01,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,9.00,0.00,9.00
595396,"Stokes, Duane",2018-08-23,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,10.00,0.00,10.00
595397,"Stokes, Duane",2018-10-02,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,9.50,0.00,9.50
595398,"Stokes, Duane",2018-10-09,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,12.00,0.00,12.00
595399,"Stokes, Duane",2018-10-26,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,8.00,0.00,8.00
595400,"Stokes, Duane",2018-12-07,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,7.00,0.00,7.00
595401,"Stokes, Duane",2018-12-11,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,7.50,0.00,7.50
595402,"Stokes, Duane",2018-12-21,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,11.00,0.00,11.00
595403,"Stokes, Duane",2019-02-12,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,11.00,0.00,11.00
595404,"Stokes, Duane",2019-02-14,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,8.00,0.00,8.00
595405,"Stokes, Duane",2019-04-24,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,13.00,0.00,13.00
595406,"Stokes, Duane",2019-05-20,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,4.50,0.00,4.50
595407,"Stokes, Duane",2019-05-31,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,12.00,0.00,12.00
595408,"Stokes, Duane",2019-06-04,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,8.00,0.00,8.00
595409,"Stokes, Duane",2019-06-11,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,9.00,0.00,9.00
595410,"Stokes, Duane",2019-06-17,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,10.00,0.00,10.00
595411,"Stokes, Duane",2019-07-02,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,11.00,0.00,11.00
595412,"Stokes, Duane",2019-07-04,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,0.00,0.00,0.00
595413,"Stokes, Duane",2019-07-08,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,7.00,0.00,7.00
595414,"Stokes, Duane",2019-07-30,MLM,9330,000,1SAP2.F.9330.000.NMTMLMX,10.00,0.00,10.00

In [236]:
d_ext_start = datetime.date(2019,8,3)
print('oy.', d_ext_start)
df[df['Work Date'] >= d_ext_start]

oy. 2019-08-03

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total
1119,"LOVELACE, TAMEKA N",2019-08-06,Site L,9900,000,1SAP2.C.9900.000,0.00,0.00,0.00
1811,"LOVELACE, TAMEKA N",2019-08-05,Site L,9900,000,1SAP2.C.9900.000,0.00,0.00,0.00
11276,"TIMMONS, CARL A",2019-08-08,FS Installer,9420,000,1SAP2.P.9420.000.4926393,-4.00,0.00,-4.00
11477,"TIMMONS, CARL A",2019-08-08,FS Installer,9420,000,1SAP2.P.9420.000.4926393,4.00,0.00,4.00
11584,"TIMMONS, CARL A",2019-08-12,FS Installer,9420,000,1SAP2.P.9420.000.5364379,0.00,0.00,0.00
31417,"SHINGLES, VELGAMON C",2019-08-06,FS Installer,9420,000,1SAP2.P.9420.000.5259260,0.00,0.00,0.00
31614,"SHINGLES, VELGAMON C",2019-08-05,FS Installer,9420,000,1SAP2.P.9420.000.5259260,0.00,0.00,0.00
31754,"SHINGLES, VELGAMON C",2019-08-07,FS Installer,9420,000,1SAP2.P.9420.000.5259260,0.00,0.00,0.00
36700,"MAYS, BERNADETTE",2019-08-19,Switch Tech (Local),9440,225,1SAP2.C.9440.225,0.00,0.00,0.00
47470,"MULLINS, JAMES D",2019-08-07,FS Installer,9420,000,1SAP2.P.9420.000.5473263,0.00,0.00,0.00
47670,"MULLINS, JAMES D",2019-08-07,FS Installer,9420,000,1SAP2.P.9420.000.5257101,0.00,0.00,0.00
47742,"MULLINS, JAMES D",2019-08-06,FS Installer,9420,000,1SAP2.P.9420.000.5473263,0.00,0.00,0.00
47743,"MULLINS, JAMES D",2019-08-08,FS Installer,9420,000,1SAP2.P.9420.000.5257101,0.00,0.00,0.00
47859,"MULLINS, JAMES D",2019-08-09,FS Installer,9420,000,1SAP2.P.9420.000.5257101,0.00,0.00,0.00
47916,"MULLINS, JAMES D",2019-08-05,FS Installer,9420,000,1SAP2.P.9420.000.5257101,0.00,0.00,0.00
68445,"BUCKMON, JOSEPH",2019-09-04,CD&D (Local),9440,215,1SAP2.C.9440.215,0.00,0.00,0.00
70200,"JONES, BILLIE H",2019-08-12,Proj Mgmt (Local),9440,415,1SAP2.C.9440.415,0.00,0.00,0.00
74071,"MAY, PORTIAH A",2019-08-05,PMO CLIN 9105,9105,000,1SAP2.C.9105.000,0.00,0.00,0.00
75715,"MAY, PORTIAH A",2019-08-05,PMO CLIN 9103,9103,000,1SAP2.C.9103.000,0.00,0.00,0.00
75986,"MAY, PORTIAH A",2019-08-05,PMO CLIN 9104,9104,000,1SAP2.C.9104.000,0.00,0.00,0.00
89221,"EDWARDS, REGINA",2019-08-07,Telephony,9400,517,1SAP2.C.9400.517,0.00,0.00,0.00
89375,"EDWARDS, REGINA",2019-08-08,Telephony,9400,517,1SAP2.C.9400.517,0.00,0.00,0.00
89432,"EDWARDS, REGINA",2019-08-06,Telephony,9400,517,1SAP2.C.9400.517,0.00,0.00,0.00
89433,"EDWARDS, REGINA",2019-08-09,Telephony,9400,517,1SAP2.C.9400.517,0.00,0.00,0.00
102593,"PERKINS, WILLIAM F",2019-10-15,Installer (Local),9440,815,1SAP2.C.9440.815,0.00,0.00,0.00
106559,"DEHN, ALBERT W",2019-08-05,FS Installer,9420,000,1SAP2.P.9420.000.4926393,8.00,0.00,8.00
106645,"DEHN, ALBERT W",2019-08-12,FS Installer,9420,000,1SAP2.P.9420.000.5364379,-8.00,0.00,-8.00
106808,"DEHN, ALBERT W",2019-08-07,FS Installer,9420,000,1SAP2.P.9420.000.4926393,8.00,0.00,8.00
106809,"DEHN, ALBERT W",2019-08-12,FS Installer,9420,000,1SAP2.P.9420.000.5364379,8.00,0.00,8.00
106903,"DEHN, ALBERT W",2019-08-05,FS Installer,9420,000,1SAP2.P.9420.000.4926393,-8.00,0.00,-8.00
...,...,...,...,...,...,...,...,...,...
544982,"Parker, Derrick",2019-08-08,FS Installer,9420,000,1SAP2.P.9420.000.4926393,-4.00,0.00,-4.00
545010,"Parker, Derrick",2019-08-09,FS Installer,9420,000,1SAP2.P.9420.000.4926393,-8.00,0.00,-8.00
545601,"Bellamy, Willie",2019-08-05,FS Installer,9420,000,1SAP2.P.9420.000.5066612,0.00,0.00,0.00
546861,"Sabur, Ali",2019-10-30,FS Installer,9420,000,1SAP2.P.9420.000.5066612,10.00,0.00,10.00
546862,"Sabur, Ali",2019-10-21,FS Installer,9420,000,1SAP2.P.9420.000.5328120,10.00,0.00,10.00
546863,"Sabur, Ali",2019-10-31,FS Installer,9420,000,1SAP2.P.9420.000.5066612,0.00,0.00,0.00
546864,"Sabur, Ali",2019-10-17,FS Installer,9420,000,1SAP2.P.9420.000.5328120,-10.00,0.00,-10.00
546865,"Sabur, Ali",2019-10-29,FS Installer,9420,000,1SAP2.P.9420.000.5066612,4.00,0.00,4.00
546866,"Sabur, Ali",2019-10-31,FS Installer,9420,000,1SAP2.P.9420.000.5066612,10.00,0.00,10.00
546867,"Sabur, Ali",2019-11-04,FS Installer,9420,000,1SAP2.P.9420.000.5066612,8.00,0.00,8.00
546868,"Sabur, Ali",2019-10-21,FS Installer,9420,000,1SAP2.P.9420.000.5328120,-10.00,0.00,-10.00
546869,"Sabur, Ali",2019-11-04,FS Installer,9420,000,1SAP2.P.9420.000.5066612,-8.00,0.00,-8.00
546870,"Sabur, Ali",2019-10-29,FS Installer,9420,000,1SAP2.P.9420.000.5066612,-4.00,0.00,-4.00
546871,"Sabur, Ali",2019-10-31,FS Installer,9420,000,1SAP2.P.9420.000.5066612,-10.00,0.00,-10.00
546872,"Sabur, Ali",2019-10-17,FS Installer,9420,000,1SAP2.P.9420.000.5328120,10.00,0.00,10.00
546873,"Sabur, Ali",2019-10-30,FS Installer,9420,000,1SAP2.P.9420.000.5066612,-10.00,0.00,-10.00
546874,"Johnson, Emile",2020-06-24,SIT,8440,238,1SAP2.C.8440.238.4247059,1.00,0.00,1.00
551247,"Bencivenga, Thomas",2019-08-19,Voice O&M Support,9500,619,1SAP2.C.9500.619.4464845,0.00,0.00,0.00
563327,"Crewe, Thomas",2019-09-17,CD&D/BOM Survey,9440,218,1SAP2.C.9440.218.5375908,0.00,0.00,0.00
564555,"Key, Larry",2019-08-06,Switch Tech,9440,228,1SAP2.C.9440.228.3722235,0.00,0.00,0.00
564831,"Key, Larry",2019-08-03,Switch Tech,9440,228,1SAP2.C.9440.228.3722235,0.00,0.00,0.00
564923,"Key, Larry",2019-08-05,Switch Tech,9440,228,1SAP2.C.9440.228.3722235,0.00,0.00,0.00
593592,"Tucker, Richard",2019-10-28,1SAP2.C.9440.818.4831450,9440,818,1SAP2.C.9440.818.4831450,0.00,0.00,0.00
593593,"Tucker, Richard",2019-12-02,1SAP2.C.9440.818.4831450,9440,818,1SAP2.C.9440.818.4831450,0.00,0.00,0.00
593685,"Tucker, Richard",2019-12-02,1SAP2.C.9440.818.4831450,9440,818,1SAP2.C.9440.818.4831450,0.00,0.00,0.00
593847,"Tucker, Richard",2019-12-03,1SAP2.C.9440.818.4831450,9440,818,1SAP2.C.9440.818.4831450,0.00,0.00,0.00
593935,"Tucker, Richard",2019-10-29,1SAP2.C.9440.818.4831450,9440,818,1SAP2.C.9440.818.4831450,0.00,0.00,0.00
593936,"Tucker, Richard",2019-10-30,1SAP2.C.9440.818.4831450,9440,818,1SAP2.C.9440.818.4831450,0.00,0.00,0.00
594023,"Tucker, Richard",2019-08-13,AMX Programmer,9440,328,1SAP2.C.9440.328.4697933,0.00,0.00,0.00
594102,"Tucker, Richard",2019-08-12,AMX Programmer (Local),9440,325,1SAP2.C.9440.325,0.00,0.00,0.00

,User,Work Date,Description,CLIN,WBS,TPID,Straight,Overtime,Total
0,"THOMPSON, MORRIS R",2017-07-21,Unbillable L&P,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,0.00,0.00,0.00
1,"THOMPSON, MORRIS R",2017-07-24,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00
2,"THOMPSON, MORRIS R",2017-07-31,Asset Management,7400,514,1SAP2.C.7400.514,8.00,0.00,8.00

In [42]:
df.head(3)

NameError: name 'df' is not defined