In [148]:
# chavez & coombs
# 2020-07-16
# cognos_data_management(v1.1).ipynb
# this script takes jacobs-cognos-output data and transforms its format to make it compatible with the deltek spreadsheet

In [149]:
# import module(s)
import pandas

In [150]:
# read data (from U:\ drive)
# 13976-20200716-100rows.csv is a 100-row subset of the actual file output
df = pandas.read_csv("U:\deltek_test_file_100.csv")

In [151]:
# check memory usage (bytes)
# DataFrame.memory_usage(index=True, deep=False)
df.memory_usage(index=True, deep=True)

Index                  80
User                 7416
User Id               792
Work Date            6529
Month                6529
Description          6515
REF ID                792
CLIN                 6039
WBS                   792
TASK                  792
TPID                 7623
ProjNo               6396
WB2                   792
Project Id           7227
Pay Type             6132
Corporation          5940
Company Name         5940
Approver             7019
Status               6534
Straight              792
Overtime              792
Total                 792
Date Time Entered    7109
Org Id               6633
dtype: int64

In [152]:
# format data
# round floating numbers to two decimal places in python pandas 
pandas.options.display.float_format = '{:.2f}'.format

In [153]:
# fields
df.columns

Index(['User', 'User Id', 'Work Date', 'Month', 'Description', 'REF ID',
       'CLIN', 'WBS', 'TASK', 'TPID', 'ProjNo', 'WB2', 'Project Id',
       'Pay Type', 'Corporation', 'Company Name', 'Approver', 'Status',
       'Straight', 'Overtime', 'Total', 'Date Time Entered', 'Org Id'],
      dtype='object')

In [154]:
# add ChangeID
df['ChangeID'] = df['ProjNo']
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TASK,TPID,...,Corporation,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id,ChangeID
0,"THOMPSON, MORRIS R",51288,9/9/2019,9/9/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,9/9/2019 13:53,1.01.01.01,0
1,"THOMPSON, MORRIS R",51288,9/13/2019,9/13/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,FNS,S-VAN LUONG,Processed,4.00,0.00,4.00,9/12/2019 14:24,1.01.01.01,0
2,"THOMPSON, MORRIS R",51288,9/25/2019,9/25/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,9/25/2019 14:13,1.01.01.01,0

In [155]:
# add option year
df.insert(24, 'OptYr', 'OY.')
df

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TASK,TPID,...,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id,ChangeID,OptYr
0,"THOMPSON, MORRIS R",51288,9/9/2019,9/9/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,9/9/2019 13:53,1.01.01.01,0,OY.
1,"THOMPSON, MORRIS R",51288,9/13/2019,9/13/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,4.00,0.00,4.00,9/12/2019 14:24,1.01.01.01,0,OY.
2,"THOMPSON, MORRIS R",51288,9/25/2019,9/25/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,9/25/2019 14:13,1.01.01.01,0,OY.
3,"THOMPSON, MORRIS R",51288,10/2/2019,10/2/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.50,0.00,9.50,10/2/2019 15:00,1.01.01.01,0,OY.
4,"THOMPSON, MORRIS R",51288,10/3/2019,10/3/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.50,0.00,9.50,10/3/2019 14:37,1.01.01.01,0,OY.
5,"THOMPSON, MORRIS R",51288,10/9/2019,10/9/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,10/9/2019 14:21,1.01.01.01,0,OY.
6,"THOMPSON, MORRIS R",51288,10/18/2019,10/18/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,0.00,0.00,0.00,10/16/2019 15:00,1.01.01.01,0,OY.
7,"THOMPSON, MORRIS R",51288,9/4/2019,9/4/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.50,0.00,9.50,9/4/2019 14:41,1.01.01.01,0,OY.
8,"THOMPSON, MORRIS R",51288,9/10/2019,9/10/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,9/10/2019 14:26,1.01.01.01,0,OY.
9,"THOMPSON, MORRIS R",51288,9/24/2019,9/24/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,9/24/2019 16:10,1.01.01.01,0,OY.
10,"THOMPSON, MORRIS R",51288,9/26/2019,9/26/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,9/26/2019 13:55,1.01.01.01,0,OY.
11,"THOMPSON, MORRIS R",51288,10/7/2019,10/7/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,10/7/2019 14:11,1.01.01.01,0,OY.
12,"THOMPSON, MORRIS R",51288,8/9/2019,8/9/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,4.00,0.00,4.00,8/8/2019 15:07,1.01.01.01,0,OY.
13,"THOMPSON, MORRIS R",51288,8/13/2019,8/13/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.50,0.00,9.50,8/13/2019 14:59,1.01.01.01,0,OY.
14,"THOMPSON, MORRIS R",51288,8/29/2019,8/29/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,8/29/2019 14:50,1.01.01.01,0,OY.
15,"THOMPSON, MORRIS R",51288,8/5/2019,8/5/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,8/5/2019 15:01,1.01.01.01,0,OY.
16,"THOMPSON, MORRIS R",51288,8/15/2019,8/15/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.50,0.00,9.50,8/15/2019 14:42,1.01.01.01,0,OY.
17,"THOMPSON, MORRIS R",51288,9/3/2019,9/3/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.50,0.00,9.50,9/3/2019 15:18,1.01.01.01,0,OY.
18,"THOMPSON, MORRIS R",51288,9/11/2019,9/11/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,9/11/2019 14:17,1.01.01.01,0,OY.
19,"THOMPSON, MORRIS R",51288,9/19/2019,9/19/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,9/19/2019 14:24,1.01.01.01,0,OY.
20,"THOMPSON, MORRIS R",51288,8/7/2019,8/7/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,8/7/2019 14:57,1.01.01.01,0,OY.
21,"THOMPSON, MORRIS R",51288,9/27/2019,9/27/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,4.00,0.00,4.00,9/26/2019 13:55,1.01.01.01,0,OY.
22,"THOMPSON, MORRIS R",51288,8/14/2019,8/14/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,8/14/2019 14:27,1.01.01.01,0,OY.
23,"THOMPSON, MORRIS R",51288,8/23/2019,8/23/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,6.50,0.00,6.50,8/22/2019 15:38,1.01.01.01,0,OY.
24,"THOMPSON, MORRIS R",51288,8/28/2019,8/28/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,8/28/2019 14:39,1.01.01.01,0,OY.
25,"THOMPSON, MORRIS R",51288,9/12/2019,9/12/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,9/12/2019 14:24,1.01.01.01,0,OY.
26,"THOMPSON, MORRIS R",51288,9/17/2019,9/17/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,9/17/2019 14:24,1.01.01.01,0,OY.
27,"THOMPSON, MORRIS R",51288,10/10/2019,10/10/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,10/9/2019 14:21,1.01.01.01,0,OY.
28,"THOMPSON, MORRIS R",51288,10/15/2019,10/15/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,10/15/2019 14:49,1.01.01.01,0,OY.
29,"THOMPSON, MORRIS R",51288,10/17/2019,10/17/2019,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,0.00,0.00,0.00,10/16/2019 15:00,1.01.01.01,0,OY.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,"LOVELACE, TAMEKA N",61001,9/11/2019,9/11/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,10.00,0.00,10.00,9/11/2019 14:50,1.01.01.01,CHG00000000,OY.
70,"LOVELACE, TAMEKA N",61001,9/13/2019,9/13/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,10.00,0.00,10.00,9/13/2019 8:21,1.01.01.01,CHG00000000,OY.
71,"LOVELACE, TAMEKA N",61001,9/26/2019,9/26/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,10.00,0.00,10.00,9/26/2019 14:23,1.01.01.01,CHG00000000,OY.
72,"LOVELACE, TAMEKA N",61001,9/17/2019,9/17/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,8.00,0.00,8.00,9/17/2019 14:02,1.01.01.01,CHG00000000,OY.
73,"LOVELACE, TAMEKA N",61001,10/3/2019,10/3/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,0.00,3.50,3.50,10/3/2019 16:24,1.01.01.01,CHG00000000,OY.
74,"LOVELACE, TAMEKA N",61001,8/12/2019,8/12/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,8.00,0.00,8.00,8/13/2019 7:28,1.01.01.01,CHG00000000,OY.
75,"LOVELACE, TAMEKA N",61001,8/13/2019,8/13/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,9.00,0.00,9.00,8/13/2019 14:10,1.01.01.01,CHG00000000,OY.
76,"LOVELACE, TAMEKA N",61001,8/16/2019,8/16/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,8.00,0.00,8.00,8/16/2019 7:34,1.01.01.01,CHG00000000,OY.
77,"LOVELACE, TAMEKA N",61001,8/19/2019,8/19/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,8.00,0.00,8.00,8/19/2019 13:50,1.01.01.01,CHG00000000,OY.
78,"LOVELACE, TAMEKA N",61001,9/5/2019,9/5/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,12.00,0.00,12.00,9/5/2019 16:04,1.01.01.01,CHG00000000,OY.
79,"LOVELACE, TAMEKA N",61001,9/24/2019,9/24/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,10.50,0.00,10.50,9/24/2019 15:18,1.01.01.01,CHG00000000,OY.
80,"LOVELACE, TAMEKA N",61001,10/1/2019,10/1/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,10.00,0.00,10.00,10/1/2019 15:49,1.01.01.01,CHG00000000,OY.
81,"LOVELACE, TAMEKA N",61001,10/2/2019,10/2/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,10.00,0.00,10.00,10/2/2019 12:31,1.01.01.01,CHG00000000,OY.
82,"LOVELACE, TAMEKA N",61001,8/7/2019,8/7/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,10.00,0.00,10.00,8/8/2019 11:47,1.01.01.01,CHG00000000,OY.
83,"LOVELACE, TAMEKA N",61001,9/19/2019,9/19/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,8.00,0.00,8.00,9/19/2019 16:40,1.01.01.01,CHG00000000,OY.
84,"LOVELACE, TAMEKA N",61001,9/20/2019,9/20/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,0.00,2.00,2.00,9/20/2019 7:58,1.01.01.01,CHG00000000,OY.
85,"LOVELACE, TAMEKA N",61001,8/20/2019,8/20/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,8.00,0.00,8.00,8/21/2019 8:44,1.01.01.01,CHG00000000,OY.
86,"LOVELACE, TAMEKA N",61001,9/23/2019,9/23/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,7.00,0.00,7.00,9/23/2019 16:25,1.01.01.01,CHG00000000,OY.
87,"LOVELACE, TAMEKA N",61001,9/30/2019,9/30/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,10.00,0.00,10.00,9/30/2019 14:31,1.01.01.01,CHG00000000,OY.
88,"LOVELACE, TAMEKA N",61001,10/3/2019,10/3/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,6.50,0.00,6.50,10/3/2019 16:24,1.01.01.01,CHG00000000,OY.
89,"LOVELACE, TAMEKA N",61001,10/11/2019,10/11/2019,Site L,13976,.00.,nan,0,13976.00.00.0017.000,...,FNS,S-KENUANA ENGRAM,Processed,8.00,0.00,8.00,10/9/2019 19:40,1.01.01.01,CHG00000000,OY.
90,"BUTLER, WILLIAM A",61004,8/8/2019,8/8/2019,Desktop Services,13976,.00.,nan,200,13976.00.00.0016.200,...,FNS,S-CHRISTOPHER ZEMBA,Processed,10.00,0.00,10.00,8/8/2019 14:32,1.01.01.01,0,OY.
91,"BUTLER, WILLIAM A",61004,8/12/2019,8/12/2019,Desktop Services,13976,.00.,nan,200,13976.00.00.0016.200,...,FNS,S-CHRISTOPHER ZEMBA,Processed,8.00,0.00,8.00,8/12/2019 14:31,1.01.01.01,0,OY.
92,"BUTLER, WILLIAM A",61004,8/28/2019,8/28/2019,Desktop Services,13976,.00.,nan,200,13976.00.00.0016.200,...,FNS,S-CHRISTOPHER ZEMBA,Processed,8.00,0.00,8.00,8/28/2019 15:40,1.01.01.01,0,OY.
93,"BUTLER, WILLIAM A",61004,9/19/2019,9/19/2019,Desktop Services,13976,.00.,nan,200,13976.00.00.0016.200,...,FNS,S-CHRISTOPHER ZEMBA,Processed,5.00,0.00,5.00,9/19/2019 12:41,1.01.01.01,0,OY.
94,"BUTLER, WILLIAM A",61004,9/25/2019,9/25/2019,Desktop Services,13976,.00.,nan,200,13976.00.00.0016.200,...,FNS,S-CHRISTOPHER ZEMBA,Processed,8.00,0.00,8.00,9/25/2019 14:35,1.01.01.01,0,OY.
95,"BUTLER, WILLIAM A",61004,10/23/2019,10/23/2019,Desktop Services,13976,.00.,nan,200,13976.00.00.0016.200,...,FNS,S-CHRISTOPHER ZEMBA,Processed,8.00,0.00,8.00,10/23/2019 15:45,1.01.01.01,0,OY.
96,"BUTLER, WILLIAM A",61004,11/15/2019,11/15/2019,Desktop Services,13976,.00.,nan,200,13976.00.00.0016.200,...,FNS,S-CHRISTOPHER ZEMBA,Processed,10.00,0.00,10.00,11/14/2019 15:11,1.01.01.01,0,OY.
97,"BUTLER, WILLIAM A",61004,11/27/2019,11/27/2019,Desktop Services,13976,.00.,nan,200,13976.00.00.0016.200,...,FNS,S-CHRISTOPHER ZEMBA,Processed,8.00,0.00,8.00,11/25/2019 14:16,1.01.01.01,0,OY.
98,"BUTLER, WILLIAM A",61004,12/4/2019,12/4/2019,Desktop Services,13976,.00.,nan,200,13976.00.00.0016.200,...,FNS,S-CHRISTOPHER ZEMBA,Processed,8.00,0.00,8.00,12/4/2019 15:24,1.01.01.01,0,OY.

In [156]:
# column A
df['User'].head(3)

0    THOMPSON, MORRIS R
1    THOMPSON, MORRIS R
2    THOMPSON, MORRIS R
Name: User, dtype: object

In [157]:
# column B
df['User Id'].head(3)

0    51288
1    51288
2    51288
Name: User Id, dtype: int64

In [158]:
# column C
# modify workdate format
workdate = pandas.to_datetime(df['Work Date']).dt.strftime('%Y-%m-%d')
workdate
df['Work Date'] = workdate
df['Work Date'].head(3)

0    2019-09-09
1    2019-09-13
2    2019-09-25
Name: Work Date, dtype: object

In [159]:
# column D
# modify month format
month = pandas.to_datetime(df['Month']).dt.strftime('%Y-%m')
month
df['Month'] = month
df['Month'].head(3)

0    2019-09
1    2019-09
2    2019-09
Name: Month, dtype: object

In [160]:
# column E
df['Description'].head(3)

0    Asset Mgmt
1    Asset Mgmt
2    Asset Mgmt
Name: Description, dtype: object

In [161]:
# column F
df['REF ID'].head(3)

0    13976
1    13976
2    13976
Name: REF ID, dtype: int64

In [162]:
# column G
# get clin from tpid
clin = df.TPID.str.split(".", expand=True,)[3]
df['CLIN'] = clin
df['CLIN']

0     0016
1     0016
2     0016
3     0016
4     0016
5     0016
6     0016
7     0016
8     0016
9     0016
10    0016
11    0016
12    0016
13    0016
14    0016
15    0016
16    0016
17    0016
18    0016
19    0016
20    0016
21    0016
22    0016
23    0016
24    0016
25    0016
26    0016
27    0016
28    0016
29    0016
      ...
69    0017
70    0017
71    0017
72    0017
73    0017
74    0017
75    0017
76    0017
77    0017
78    0017
79    0017
80    0017
81    0017
82    0017
83    0017
84    0017
85    0017
86    0017
87    0017
88    0017
89    0017
90    0016
91    0016
92    0016
93    0016
94    0016
95    0016
96    0016
97    0016
98    0016
Name: CLIN, dtype: object

In [163]:
# column H
# get wbs from tpid
wbs = df.TPID.str.split(".", expand=True,)[4]
df['WBS'] = wbs
df['WBS']

0     514
1     514
2     514
3     514
4     514
5     514
6     514
7     514
8     514
9     514
10    514
11    514
12    514
13    514
14    514
15    514
16    514
17    514
18    514
19    514
20    514
21    514
22    514
23    514
24    514
25    514
26    514
27    514
28    514
29    514
     ...
69    000
70    000
71    000
72    000
73    000
74    000
75    000
76    000
77    000
78    000
79    000
80    000
81    000
82    000
83    000
84    000
85    000
86    000
87    000
88    000
89    000
90    200
91    200
92    200
93    200
94    200
95    200
96    200
97    200
98    200
Name: WBS, dtype: object

In [164]:
# column I
df['TPID'].head(3)

0    13976.00.00.0016.514
1    13976.00.00.0016.514
2    13976.00.00.0016.514
Name: TPID, dtype: object

In [165]:
# column J
df['TASK'].head(3)

0    514
1    514
2    514
Name: TASK, dtype: int64

In [166]:
# column K
df['Pay Type'].head(3)

0    R
1    R
2    R
Name: Pay Type, dtype: object

In [167]:
# column L
df['Corporation'].head(3)

0    FNS
1    FNS
2    FNS
Name: Corporation, dtype: object

In [168]:
# column M
df['Company Name'].head(3)

0    FNS
1    FNS
2    FNS
Name: Company Name, dtype: object

In [169]:
# column N
df['Approver'].head(3)

0    S-VAN LUONG
1    S-VAN LUONG
2    S-VAN LUONG
Name: Approver, dtype: object

In [170]:
# column O
df['Status'].head(3)

0    Processed
1    Processed
2    Processed
Name: Status, dtype: object

In [171]:
# column P
df['Straight'].head(3)
df['Straight'].describe()

count   99.00
mean     7.92
std      2.52
min      0.00
25%      8.00
50%      9.00
75%      9.50
max     12.00
Name: Straight, dtype: float64

In [172]:
# column Q
df['Overtime'].head(3)
df['Overtime'].describe()

count   99.00
mean     0.08
std      0.45
min      0.00
25%      0.00
50%      0.00
75%      0.00
max      3.50
Name: Overtime, dtype: float64

In [173]:
# column R
df['Total'].head(3)
df['Total'].describe()

count   99.00
mean     8.00
std      2.31
min      0.00
25%      8.00
50%      9.00
75%      9.50
max     12.00
Name: Total, dtype: float64

In [174]:
# column S
pandas.to_datetime(df['Date Time Entered']).dt.strftime('%Y-%m-%d %h:%m:%s').head(3)

0    2019-09-09 13:53:00
1    2019-09-12 14:24:00
2    2019-09-25 14:13:00
Name: Date Time Entered, dtype: object

In [175]:
# column T
df['Org Id'].head(3)

0    1.01.01.01
1    1.01.01.01
2    1.01.01.01
Name: Org Id, dtype: object

In [176]:
# column U
df['ChangeID'].head(3)

0    0
1    0
2    0
Name: ChangeID, dtype: object

In [177]:
# column V
# Opt Yr
df['OptYr'].head(3)

0    OY.
1    OY.
2    OY.
Name: OptYr, dtype: object

In [178]:
# write data to csv (default is U:\Documents)
df.to_csv('deltek_test_file-modified.csv')
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TASK,TPID,...,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id,ChangeID,OptYr
0,"THOMPSON, MORRIS R",51288,2019-09-09,2019-09,Asset Mgmt,13976,0016,514,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,9/9/2019 13:53,1.01.01.01,0,OY.
1,"THOMPSON, MORRIS R",51288,2019-09-13,2019-09,Asset Mgmt,13976,0016,514,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,4.00,0.00,4.00,9/12/2019 14:24,1.01.01.01,0,OY.
2,"THOMPSON, MORRIS R",51288,2019-09-25,2019-09,Asset Mgmt,13976,0016,514,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0.00,9.00,9/25/2019 14:13,1.01.01.01,0,OY.

In [179]:
# tip 1
# create dataframe with mixed data types
pandas.util.testing.makeMixedDataFrame()

     A    B     C          D
0 0.00 0.00  foo1 2009-01-01
1 1.00 1.00  foo2 2009-01-02
2 2.00 0.00  foo3 2009-01-05
3 3.00 1.00  foo4 2009-01-06
4 4.00 0.00  foo5 2009-01-07

In [180]:
# tip 2
# insert a new column which is a function of another column
dftest = pandas.util.testing.makeMixedDataFrame()
#print(dftest)
dftest.insert(3, 'A2', dftest['A'] * 2)
dftest

     A    B     C   A2          D
0 0.00 0.00  foo1 0.00 2009-01-01
1 1.00 1.00  foo2 2.00 2009-01-02
2 2.00 0.00  foo3 4.00 2009-01-05
3 3.00 1.00  foo4 6.00 2009-01-06
4 4.00 0.00  foo5 8.00 2009-01-07

In [181]:
# tip 3
# insert a new column with a constant value in the column with index 3 (i.e., 4)
dftest = pandas.util.testing.makeMixedDataFrame()
dftest.insert(3, 'Country', 'USA')
dftest

     A    B     C Country          D
0 0.00 0.00  foo1     USA 2009-01-01
1 1.00 1.00  foo2     USA 2009-01-02
2 2.00 0.00  foo3     USA 2009-01-05
3 3.00 1.00  foo4     USA 2009-01-06
4 4.00 0.00  foo5     USA 2009-01-07

In [182]:
# tip 4
# change column names
dftest = pandas.util.testing.makeMixedDataFrame()
dftest
dftest.rename(columns={'A':'ID', 'D':'Date'})

    ID    B     C       Date
0 0.00 0.00  foo1 2009-01-01
1 1.00 1.00  foo2 2009-01-02
2 2.00 0.00  foo3 2009-01-05
3 3.00 1.00  foo4 2009-01-06
4 4.00 0.00  foo5 2009-01-07

In [183]:
# tip 5
# duplicate a column
dftest = pandas.util.testing.makeMixedDataFrame()
dftest['E'] = dftest['C']
dftest

     A    B     C          D     E
0 0.00 0.00  foo1 2009-01-01  foo1
1 1.00 1.00  foo2 2009-01-02  foo2
2 2.00 0.00  foo3 2009-01-05  foo3
3 3.00 1.00  foo4 2009-01-06  foo4
4 4.00 0.00  foo5 2009-01-07  foo5